<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>${SessionSysPortal.appTitle}</title>
#parse("./common/pageCss.vm")
<style>
html, body { height: 100% }
</style>
</head>
<body class="top-navigation" style="background: #F8FAFB">
	<ul class="nav nav-tabs">
		<li class='active'><a data-toggle="tab" href="#tab-1">儿童/新生儿登记信息</a></li>
		<li><a data-toggle="tab" href="#tab-2">随访检查信息</a></li>
		<li><a data-toggle="tab" href="#tab-3">健康体检信息</a></li>
	</ul>
	<!-- begin患者登记信息 -->
	<div class="tab-content" style="height: calc(100% - 42px)">
		<div id="tab-1" class="tab-pane active" style="height: calc(100% - 2px)">
			<iframe src="../childDetail/childDetailRegisterEdit.do?isReadOnly=true&childDetailId=$!childDetailId" style="width:100%; height: 100%; border: none;" scrolling = "no"></iframe>
		</div>
		<!-- end患者登记信息 -->
		
		<!-- begin随访检查信息 -->
		<div id="tab-2" class="tab-pane full-height">
			<div class="col-md-2 full-height-scroll white-bg" style="padding: 0; border-right: #ccc 1px solid">
	            <div class="sub-nav">
	                <ul>
                       <li class="sub-nav-item">
                           <a href="javascript:;"><span>新生儿家庭访视</span><i class="my-icon nav-more"></i></a>
                           <ul id="visit_1">
                               <li id="noData_1"><span>无</span></li>
                           </ul>
                       </li>
                       <li class="sub-nav-item">
                           <a href="javascript:;"><span>1岁以内健康检查</span><i class="my-icon nav-more"></i></a>
                           <ul id="visit_2">
                               <li id="noData_2"><span>无</span></li>
                           </ul>
                       </li>
                       <li class="sub-nav-item">
                           <a href="javascript:;"><span>1-2岁健康检查</span><i class="my-icon nav-more"></i></a>
                           <ul id="visit_3">
                               <li id="noData_3"><span>无</span></li>
                           </ul>
                       </li>
                       <li class="sub-nav-item">
                           <a href="javascript:;"><span>3-6岁健康检查</span><i class="my-icon nav-more"></i></a>
                           <ul  id="visit_4">
                               <li id="noData_4"><span>无</span></li>
                           </ul>
                       </li>
                       
                       <li class="sub-nav-item">
	                        <ul>
	                            <li class="page"><button type="button" id='btn_visit_more'>更多...</button></li>
	                        </ul>
	                    </li>
                   </ul>
	            </div>
	        </div>
	        <div class="col-md-10" style="height: calc(100% - 2px)">
				<iframe id="visitIframe" src="" style="width:100%; height: 100%; border: none;" scrolling = "no"></iframe>
	        </div>
		</div>
		<!-- end随访检查信息 -->
		
		<!-- begin健康体检信息 -->
		<div id="tab-3" class="tab-pane full-height">
			<div class="col-md-2 full-height-scroll white-bg" style="padding: 0; border-right: #ccc 1px solid">
	            <div class="sub-nav">
	                <ul>
	                    <li class="sub-nav-item">
	                        <a href="javascript:;"><span>体检日期列表</span><i class="my-icon nav-more"></i></a>
	                        <ul id="examDateList"></ul>
	                        <ul>
	                            <li class="page"><button type="button" id='btn_exam_more'>更多...</button></li>
	                        </ul>
	                    </li>
	                </ul>
	            </div>
	        </div>
	        <div class="col-md-10" style="height: calc(100% - 2px)">
				<iframe id="examIframe" src="" style="width:100%; height: 100%; border: none;" scrolling = "no"></iframe>
	        </div>
		</div>
		<!-- end健康体检信息 -->
	</div>
</body>
#parse("./common/pageJs.vm")
#parse("./common/common.js.vm")
<script type="text/javascript">
	var childJs = {
		visitSize: 10,
		visitNumber: 1,
		examSize: 10,
		examNumber: 1,
		// 查看访视详情
		showVist: function (childVisitId, ageFlag){
			if (ageFlag == "" || ageFlag == undefined) {
				common.alert("错误，请检查参数是否有效", 0);
				return ;
			}
			var view = "";
			if (ageFlag == "1") {
				view = "newChildVisitShow";
			} else if (ageFlag == "2"){
				view = "oneUnderChildVisitShow";
			} else if (ageFlag == "3"){
				view = "twoUnderChildVisitShow";
			} else if (ageFlag == "4"){
				view = "sixUnderChildVisitShow";
			}
			var params = ['view=' + view, 'childVisitId=' + childVisitId];
			$('#visitIframe').attr('src', '../childVisit/childVisitEdit.do?' + params.join('&'));
		},
		// 编辑访视详情
		editVisit: function (childVisitId, ageFlag){
			if (ageFlag == "" || ageFlag == undefined) {
				common.alert("错误，请检查参数是否有效", 0);
				return ;
			}
			var view = "";
			if (ageFlag == "1") {
				view = "newChildVisitEdit";
			} else if (ageFlag == "2"){
				view = "oneUnderChildVisitEdit";
			} else if (ageFlag == "3"){
				view = "twoUnderChildVisitEdit";
			} else if (ageFlag == "4"){
				view = "sixUnderChildVisitEdit";
			}
			var params = ['view=' + view, 'childVisitId=' + childVisitId];
			$('#visitIframe').attr('src', '../childVisit/childVisitEdit.do?' + params.join('&'));
		},
		// 删除访视详情
		delVisit: function (obj, childVisitId){
			if (childVisitId == "" || childVisitId == undefined) {
				common.alert("删除失败，请检查参数是否有效", 0);
	    		return ;
			}
			common.confirm("确定要删除吗？", function (){
				$.post('../childVisit/deleteChildVisit.jo',{ids: childVisitId}, 
						function (result){
							if (result.code == "0") {
								$(obj).parent().remove();
							} else {
								common.alert(result.msg, 2);
							}
					}, 'json').error(function (e){jqueryPostError(e)});
			});
		},
		// 查看体检详情
		showExam: function (examChildId){
			var params = ['view=examChildShow', 'examChildId=' + examChildId];
			$('#examIframe').attr('src', '../examChild/examChildEdit.do?' + params.join('&'));
		},
		// 编辑体检
		editExam: function (examChildId){
			var params = ['view=examChildEdit', 'examChildId=' + examChildId];
			$('#examIframe').attr('src', '../examChild/examChildEdit.do?' + params.join('&'));
		},
		// 删除体检
		delExam: function (obj, examChildId){
			if (examChildId == "" || examChildId == undefined) {
				common.alert("删除失败，请检查参数是否有效", 0);
	    		return ;
			}
			common.confirm("确定要删除吗？", function (){
				$.post('../examChild/deleteExamChild.jo',{ids: examChildId}, 
						function (result){
							if (result.code == "0") {
								$(obj).parent().remove();
							} else {
								common.alert(result.msg, 2);
							}
					}, 'json').error(function (e){jqueryPostError(e)});
			});
		},
		// 加载访视列表
		loadVisitList: function() {
			if ("$!childDetailId" == "") {
				return ;
			}
			
			$.post('../childVisit/childVisitDateList.jo', {
				childDetailId: "$!childDetailId",
				pageSize: childJs.visitSize, 
				pageNumber: childJs.visitNumber
			}, function(data) {
				var rows = data.rows;
				var total = data.total;
				if (rows == undefined || total == undefined || total <= 0 || rows.length < childJs.visitSize) {
					$('#btn_visit_more').hide();
				}
				if (rows != undefined && total != undefined && total > 0) {
					var html = [];
					$.each(rows, function() {
						html.push('<li>');
						html.push('<span>' + this[2] + '</span>');
						html.push('<a href="javascript: void(0); " onclick="childJs.delVisit(this, ' + this[0] + ')" title="删除"><i class="fa fa-times"></i></a>');
						html.push('<a href="javascript: void(0);" onclick="childJs.editVisit(' + this[0] + ',\'' + this[1] + '\')" title="修改"><i class="fa fa-pencil-square-o"></i></a>');
						html.push('<a href="javascript: void(0);" onclick="childJs.showVist(' + this[0] + ',\'' + this[1] + '\')" title="查看"><i class="fa fa-eye"></i></a>');
						html.push('</li>');
						$('#visit_' + this[1]).append(html.join(''));
						$('#noData_' + this[1]).remove();
						html = [];
					});
					childJs.visitNumber = childJs.visitNumber + 1;
				}
			}, 'json');
		},
		// 加载体检列表
		loadExamList: function() {
			if ("$!childDetailId" == "") {
				return ;
			}
			
			$.post('../examChild/examChildDataList.jo', {
				childDetailId: "$!childDetailId",
				pageSize: childJs.examSize, 
				pageNumber: childJs.examNumber
			}, function(data) {
				var rows = data.rows;
				var total = data.total;
				if (rows == undefined || total == undefined || total <= 0 || rows.length < childJs.examSize) {
					$('#btn_exam_more').hide();
				}
				if (rows != undefined && total != undefined && total > 0) {
					var html = [];
					$.each(rows, function() {
						var item = this.examTime.split(" ");
						html.push('<li>');
						html.push('<span>' + item[0] + '</span>');
						html.push('<a href="javascript: void(0); " onclick="childJs.delExam(this, ' + this.examChildId + ')" title="删除"><i class="fa fa-times"></i></a>');
						html.push('<a href="javascript: void(0);" onclick="childJs.editExam(' + this.examChildId + ')" title="修改"><i class="fa fa-pencil-square-o"></i></a>');
						html.push('<a href="javascript: void(0);" onclick="childJs.showExam(' + this.examChildId + ')" title="查看"><i class="fa fa-eye"></i></a>');
						html.push('</li>');
					});
					$('#examDateList').append(html.join(''));
					childJs.examNumber = childJs.examNumber + 1;
				}
			}, 'json');
		}
	}
	function savedVisitShow(childVisitId, ageFlag) {
		childJs.showVist(childVisitId, ageFlag);
	}
	function savedExamShow(examChildId) {
		childJs.showExam(examChildId);
	}
	$(function() {
		$('#btn_visit_more').click(function(){
			childJs.loadVisitList();
		});
		
		$('#btn_exam_more').click(function(){
			childJs.loadExamList();
		});
		
		
		
		$('#btn_visit_more').click();
		$('#btn_exam_more').click();
	});
</script>
</html>
