<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>死亡登记管理</title>
#parse("./common/pageCss.vm") 
<style>
    html,body { height: 100%}
    button.close.tabs { position: relative; z-index: 5555; right:9px; top:5px;}
    table.table-jcdj > tbody > tr > td:hover { border-bottom: 0}
    table.table-hover > tbody > tr > td { font-size: 12px;}
</style>
</head>

<body class="gray-bg top-navigation">
    <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins full-height">
            <div class="ibox-content">
                <div class="row">
                    <form id="deathRecord_queryForm"  class="form-horizontal">
                        <!-- 死亡的对象： 居民、孕妇、儿童 -->
                        #formHiddenInput("deathFlag" "$!deathFlag" " id='deathFlag' ")
                        <div class="col-sm-4">
                            <label class="control-label p-r-n col-sm-4">姓名</label>
                            <div class="col-sm-8">
                                <input type="text" id="vaccinatedName" name="vaccinatedName" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-4 m-b-sm ">
                                    <label class="control-label col-sm-4">死亡日期</label>
                                    <div class="col-sm-8 input-daterange input-group">
                                        <input class="input-sm form-control layer-date" onclick="laydate({istime: false, format: 'YYYY-MM-DD'})" id="beginDeathTime" name="beginDeathTime" placeholder="开始日期" type="text" value="" >
                                        <span class="input-group-addon">到</span>
                                        <input class="input-sm form-control layer-date" onclick="laydate({istime: false, format: 'YYYY-MM-DD'})" id="endDeathTime" name="endDeathTime" placeholder="截止日期" type="text" value="" >
                                    </div>
                                </div>
                        <div class="col-sm-4 text-center ">
                            <button type="button" id="btn_query"  onclick="queryRecord();" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> <span>查 询</span></button>&nbsp;&nbsp;
                            <button type="button"  onclick="clearQuery();" class="btn btn-sm btn-info"><i class="iconfont fa icon-qingchu"></i> <span>清 空</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins full-height m-b-none">
            <div class="ibox-content p-b-n">
                <div class="table-responsive">
                    <div class=" hidden-xs m-b-sm" id="exampleTableEventsToolbar" role="group">
                        <button onclick="addDeathRecord();" type="button" class="btn btn-sm btn-primary" >
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>新增</span>
                        </button>
                    </div>
                    <!-- 列表表格 -->
                     <div class="example">
                         <table id="deathRecordGrid" class="table table-bordered" data-mobile-responsive="true"> </table>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    #parse("./common/pageJs.vm") 
    #parse("./common/common.js.vm")
    #parse("./publichealth/deathRecordList.js.vm")
</body>
</html>