<script>
var dicSex = JSON.parse('$dicTools.changeMapToJson($dicData.dicSex)'); 
$(document).ready(function () {
	// 新增
    $('#btn_add_register').click(function (){
    	var title = '脑卒中患者登记编辑<span class="must-red font-14">( 红字为必填 )</span>';
		var url = contextPath + '/personChronic/personRecordEdit.do?view=personCSRecordEdit';
		common.open(url, title, {area: ['99%', '99%']});
    });
	// 删除
	$('#btn_delete').click(function (){
		var ids = [];
		var row = common.getTableSelectRow('personCSList', true);
		if (row.length == undefined || row.length <= 0) {
			common.alert("请选择要删除的数据", 0);
    		return ;
		}
		$.each(row, function (){
			ids.push(this.chronicTypeId);
		});
		common.confirm("确定要删除吗？", function (){
			$.post(
					contextPath +'/personChronic/deletePersonChronicTpye.jo',
					{ids: ids.join(',')}, 
					function (result){
						if (result.code == "0") {
							$('#btn_query').click();
						} else {
							common.alert(result.msg, 2);
						}
					}, 
			'json').error(function (e){jqueryPostError(e)});
		});
    });
	
    // 查询按钮
    $('#btn_query').click(function (){
    	var queryParams = common.serializeObject($('#queryForm'));
    	var options = {url: '../personChronic/personCSRecordDataList.jo', silent: false, query: queryParams};
    	$('#personCSList').bootstrapTable('refresh', options); 
    });
    
 	// 清空按钮
    $('#btn_clean').click(function (){
    	$('#gender').val('');
    	$('#idCard').val('');
    	$('#patientName').val('');
    	$('#beginAttackDate').val('');
    	$('#endAttackDate').val('');
    	
    	$('#chronicLevel').val('');
    	$('#diagnosisHospitalType').val('');
    	$('#diagnosisHospital').val('');
    	$('#beginConfirmDate').val('');
    	$('#endConfirmDate').val('');
    });
    
    var dicDiagnosisHospitalType = JSON.parse('$dicTools.changeMapToJson($dicData.dicDiagnosisHospitalType)'); 
 	// 初始化列表数据
    $('#personCSList').bootstrapTable({
		url : "../personChronic/personCSRecordDataList.jo",
		mobileResponsive : true,
		pagination : true,
		pageNumber : true,
		cache : false,
		striped: true,
		//clickToSelect: true,
		singleSelect: false,
		pageSize : "10",
		pageNumber : "1",
		height : "500",
		queryParamsType : "",
		sidePagination : 'server',
		halign : "center",
		queryParams : function (params){
			var requestParams = common.serializeObject($('#queryForm'));
	        requestParams.pageSize = params.pageSize;
	        requestParams.pageNumber = params.pageNumber;
	        return requestParams;
		},
		columns : [
		{ checkbox:true }, 
		{
			field : 'personChronic.patientName',
			title : '患者姓名'
		}, {
			field : 'personChronic.gender',
			title : '性 别',
			formatter :function (value, row, index) {
				return dicSex[row.personChronic.gender];
			}
		}, {
			field : 'personChronic.birthDate',
			title : '出生日期'
		}, {
			field : 'personChronic.idCard',
			title : '身份证号码'
		}, {
			field : 'personChronic.linkmanPhone',
			title : '联系人电话'
		}, {
			field : 'diagnosisHospitalType',
			title : '诊断医院类型',
			formatter :function (value, row, index) {
				return dicDiagnosisHospitalType[row.diagnosisHospitalType];
			}
		}, {
			field : 'diagnosisHospital',
			title : '诊断医院'
		}, {
			field : 'attackDate',
			title : '发病日期'
		}, {
			field : 'confirmDate',
			title : '确诊日期'
		}, {
   			field : 'operate',
   			title : '操作',
   			events : operateEvents,
   			formatter : operateFormatter
   		}],
		onDblClickRow: function (row, element){
			var params = ['personChronicId=' + row.personChronicId, 'chronicTypeId=' + row.chronicTypeId, 'chronicType=' + row.chronicType, 'editView=personCSVisitEdit', 'showView=personCSVisitShow'];
			var title = '<div style="width:100%; text-align:center"><b>' + row.personChronic.patientName + '（' + dicSex[row.personChronic.gender] + '）</b></div>';
			var url = '../personChronic/personChronicShow.do?' + params.join('&');
			common.open(url, title, {area: ['99%', '99%']});
		},
		onLoadSuccess : function(){
			var height = ($('#personCSList').parents("body").height() - $('#queryForm').parents(".ibox").height() - 72);
			$('#personCSList').bootstrapTable('resetView', {height: height}); 
		}
	});
});
window.operateEvents = {
		"click #btn_add_visit": function(e, value, row, index) {
			var params = ['view=personCSVisitEdit', 'personChronicId=' + row.personChronicId];
			var title = '脑卒中患者随访编辑<span class="must-red font-14">( 红字为必填 )</span>';
	    	common.open(contextPath + '/personChronicVisit/personVisitEdit.do?' + params.join('&'), title, {area: ['99%', '99%']});
	    	
		},
		"click #btn_show_register": function(e, value, row, index) {
			var params = ['personChronicId=' + row.personChronicId, 'chronicTypeId=' + row.chronicTypeId, 'chronicType=' + row.chronicType, 'editView=personCSVisitEdit', 'showView=personCSVisitShow'];
			var title = '<div style="width:100%; text-align:center"><b>' + row.personChronic.patientName + '（' + dicSex[row.personChronic.gender] + '）</b></div>';
			var url = '../personChronic/personChronicShow.do?' + params.join('&');
			common.open(url, title, {area: ['99%', '99%']});
			
		},
		"click #btn_edit_register": function(e, value, row, index) {
			var title = '脑卒中患者登记编辑 <span class="must-red font-14">( 红字为必填 )</span>';
	    	common.open(contextPath + '/personChronic/personRecordEdit.do?view=personCSRecordEdit&chronicTypeId=' + row.chronicTypeId, title, {area: ['99%', '99%']});
	    	
		},
		"click #btn_del_register": function(e, value, row, index) {
			common.confirm("确定要删除吗？", function (){
				$.post(
						contextPath +'/personChronic/deletePersonChronicTpye.jo',
						{ids: row.chronicTypeId}, 
						function (result){
							if (result.code == "0") {
								$('#btn_query').click();
							} else {
								common.alert(result.msg, 2);
							}
						}, 
				'json').error(function (e){jqueryPostError(e)});
			});
		}
	};
function operateFormatter(value, row, index) {
	var html = [
				'<a id="btn_add_visit" href="javascript:void(0)" title="添加随访"><i class="fa fa-plus-square"></i></a>',
				'<a id="btn_show_register" href="javascript:void(0)" title="详情"><i class="fa fa-eye"></i></a>',
	            '<a id="btn_edit_register" href="javascript:void(0)" title="修改"><i class="fa fa-pencil-square-o"></i></a>',
	            '<a id="btn_del_register" href="javascript:void(0)" title="刪除"><i class="fa fa-times"></i></a>'
	            ];
	return html.join('');
}
</script>