<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>高血压-慢性病患者随访编辑</title> 
#parse("./common/pageCss.vm")
<style>
	html, body { height: 100% }
</style>
</head>
<body class="gray-bg-1">
	<form id="editForm" class="form-horizontal" style="height: calc(100% - 44px)">
		#formHiddenInput("submitFlag" "" "id='submitFlag'")
		#formHiddenInput("hospitalId" "$!personChronicVisit.hospitalId" "id='hospitalId'")
		#formHiddenInput("hospitalNo" "$!personChronicVisit.hospitalNo" "id='hospitalNo'")
		##formHiddenInput("hospitalPhone" "$!personChronicVisit.hospitalPhone" "id='hospitalPhone'")
		#formHiddenInput("visitDoctorId" "$!personChronicVisit.visitDoctorId" "id='visitDoctorId'")
		#formHiddenInput("chronicVisitId" "$!personChronicVisit.chronicVisitId" "id='chronicVisitId'")
		#formHiddenInput("personDetailId" "$!personChronicVisit.personDetailId" "id='personDetailId'")
		#formHiddenInput("personChronicId" "$!personChronicVisit.personChronicId" "id='personChronicId'")
		
		##** chronicType： 1=高血压；2=糖尿病；3=慢阻肺疾病；4=冠心病；5=脑卒中；6=肺结核 *##
		#formHiddenInput("chronicType" "3" "")
	    <div class="modal-body full-height-scroll" >
	        <!-- 表单 开始 -->
	        <div class="table-content">
	            <div class="text-box"><h5>随访基本信息</h5></div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none must-red">患者姓名</label>
	                <div class="col-sm-1">
	                	#formTextInput("patientName" "#htmlEscape($!personChronicVisit.personChronic.patientName)" " id='patientName' maxlength='10' class='form-control' readOnly")
	                </div>
	                <div class="col-sm-1">
	                    <button id="inportPerson" type="button" class="btn btn-info m-l-n">导入患者</button>
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none must-red">随访方式</label>
	                <div class="col-sm-2">
	                	#formSingleSelectFirstNone("visitWay" "$!personChronicVisit.visitWay" $!{dicData.dicVisitWay} "id='visitWay' class='form-control'" "")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none must-red">随访分类</label>
	                <div class="col-sm-2">
	                	#formSingleSelectFirstNone("personVisitItem.visitType" "$!personVisitItem.visitType" $!{dicData.dicVisitType} "id='visitType' class='form-control'" "")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none must-red">随访时间</label>
	                <div class="col-sm-2">
						#set($dateFormat = '"YYYY-MM-DD hh:mm:ss"')
						#formTextInput("visitTime" "$!date.format('yyyy-MM-dd HH:mm:ss', $!personChronicVisit.visitTime)" "class='input-sm form-control layer-date' onclick='laydate({istime: true, start: laydate.now(0, $!dateFormat), format: $!dateFormat})' readOnly")
	               </div>
	            </div>
	            <div class="form-group">
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">随访医生</label>
	                <div class="col-sm-2">
	                    #formTextInput("visitDoctorName" "#htmlEscape($!personChronicVisit.visitDoctorName)" " id='visitDoctorName' maxlength='18' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">随访医院</label>
	                <div class="col-sm-2">
	                    #formTextInput("hospitalName" "#htmlEscape($!personChronicVisit.hospitalName)" " id='hospitalName' maxlength='15' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">医院联系电话</label>
	                <div class="col-sm-2">
	                    #formTextInput("hospitalPhone" "#htmlEscape($!personChronicVisit.hospitalPhone)" "id='hospitalPhone' maxlength='100' class='form-control'")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">下次随访时间</label>
	                <div class="col-sm-2">
	                    #set($dateFormat = '"YYYY-MM-DD hh:mm:ss"')
						#formTextInput("nextVisitTime" "$!date.format('yyyy-MM-dd HH:mm:ss', $!personChronicVisit.nextVisitTime)" "class='input-sm form-control layer-date' onclick='laydate({istime: true, start: laydate.now(0, $!dateFormat), format: $!dateFormat})' readOnly")
	               </div>
	            </div>
	            <div class="form-group">
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">症状</label>
	                <div class="col-sm-11" style="padding-top: 6px;">
	                    #formCheckboxesLable("visitChronicSymIds" $!visitChronicSymIds $!dicData.dicCopdSymptom "&nbsp;" "class='m-t-xs m-r-xs i-checks'" "")
	                </div>
	            </div>
	            <div class="form-group">  
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">其他症状描述</label>
	                <div class="col-sm-11">
	                	#formTextInput("personVisitItem.otherSym" "#htmlEscape($!personVisitItem.otherSym)" "maxlength='50' class='form-control'")
	                </div>
	            </div>
	            <div class="form-group">
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">体征</label>
	                <div class="col-sm-11" style="padding-top: 6px;">
	                    #formCheckboxesLable("visitChronicSymIds" $!visitChronicSymIds $!dicData.dicCopdVisitSign "&nbsp;" "class='m-t-xs m-r-xs i-checks'" "")
	                </div>
	            </div>
	            <div class="form-group">  
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">其他体征描述</label>
	                <div class="col-sm-11">
	                	#formTextInput("personVisitItem.otherSign" "#htmlEscape($!personVisitItem.otherSign)" "maxlength='50' class='form-control'")
	                </div>
	            </div>
				
	            <div class="text-box"><h5>生活方式指导</h5></div>
	            <div class="form-group">  
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">每日抽烟量(支)</label>
	                <div class="col-sm-2">
	                	#formIntZeroInput("personVisitItem.smokeEveryday" "$!personVisitItem.smokeEveryday" "maxlength='2' class='form-control'")
	                </div>
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none ">运动两(次/周)</label>
	                <div class="col-sm-2">
	                	#formIntZeroInput("personVisitItem.physicalWeek" "$!personVisitItem.physicalWeek" "maxlength='2' class='form-control'")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">运动时长(分钟/次)</label>
	                <div class="col-sm-2">
	                	#formIntZeroInput("personVisitItem.physicalTime" "$!personVisitItem.physicalTime" "maxlength='3' class='form-control'")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">呼吸锻炼</label>
	                <div class="col-sm-2">
	                    #formTextInput("breatheExec" "#htmlEscape($!personVisitItem.breatheExec)" "id='aa' maxlength='20' class='form-control'")
	                </div>
	            </div>
	            <div class="form-group">  
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">下次控制每日抽烟量(支)</label>
	                <div class="col-sm-2">
	                	#formIntZeroInput("personVisitItem.nextSmokeEveryday" "$!personVisitItem.nextSmokeEveryday" "maxlength='2' class='form-control'")
	                </div>
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none ">下次控制运动两(次/周)</label>
	                <div class="col-sm-2">
	                	#formIntZeroInput("personVisitItem.nextPhysicalWeek" "$!personVisitItem.nextPhysicalWeek" "maxlength='2' class='form-control'")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">下次控制运动时长(分钟/次)</label>
	                <div class="col-sm-2">
	                	#formIntZeroInput("personVisitItem.nextPhysicalTime" "$!personVisitItem.nextPhysicalTime" "maxlength='3' class='form-control'")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">心理调整</label>
	                <div class="col-sm-2">
	                	#formSingleSelectFirstNone("personVisitItem.psychologicalRecovery" "$!personVisitItem.psychologicalRecovery" $!{dicData.dicBehaviorDoctor} "class='form-control'" "")
	                </div>
	            </div>

	            <div class="text-box"><h5>治疗状况</h5></div>
	            <div class="form-group">  
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">药物不良反应</label>
	                <div class="col-sm-3">
	                	#formSingleSelectFirstNone("personVisitItem.drugReaction" "$!personVisitItem.drugReaction" $!{dicData.dicHaveNo} "class='form-control'" "")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">服药依从性</label>
	                <div class="col-sm-3">
	                	#formSingleSelectFirstNone("personVisitItem.drugCompliance" "$!personVisitItem.drugCompliance" $!{dicData.dicDrugCompliance} "class='form-control'" "")
	                </div>
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">实验室检查</label>
	                <div class="col-sm-3">
	                	#formTextInput("personVisitItem.visitExam" "#htmlEscape($!personVisitItem.visitExam)" "maxlength='20' class='form-control'")
	                </div>
	            </div>
	            <div class="form-group">  
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">药物不良情况</label>
	                <div class="col-sm-11">
	                	#formTextInput("personVisitItem.drugReactionOther" "#htmlEscape($!personVisitItem.drugReactionOther)" "maxlength='50' class='form-control'")
	                </div>
	            </div>

	            <div class="text-box">
		            <h5>用药情况</h5>
		            <button id="btn_add_drug" type="button" class="btn btn-primary f_right">添加药物</button>
	            </div>
	            <div id="drugList">
	            	#if("$!visitDrugList" == "")
	            		<div class="form-group">
			            	<label class="col-md-1 control-label text-right p-r-none p-l-none ">药物名称</label>
					        <div class="col-md-2 ">
					        	#formHiddenInput("diseaseDrugId" "" "")
					        	#formHiddenInput("chronicDrugId" "" "")
					            #formTextInput("diseaseDrugName" "#htmlEscape($!item.diseaseDrugName)" "onclick='selectDrug(this)' maxlength='20' class='form-control'")
					        </div>
			                <label class="col-md-1 control-label text-right p-r-none p-l-none" style="display: none">用药类型</label>
					        <div class="col-md-1" style="width:auto; display: none">
					            #formSingleSelectFirstNone("diseaseDrugType" "$!item.diseaseDrugType" $!{dicData.dicDiseaseDrugType} "class='form-control'" "")
					        </div>
					        <label class="col-md-1 control-label text-right p-r-none p-l-none ">用法用量</label>
					        <div class="col-md-1 ">
					            #formTextInput("drugQuantity" "#htmlEscape($!item.drugQuantity)" " maxlength='10' class='form-control'")
					        </div>
					        <label class="col-md-1 control-label text-right p-r-none p-l-none ">用药单位</label>
					        <div class="col-md-1" style="width:100px;">
					            #formTextInput("drugUnit" "#htmlEscape($!item.drugUnit)" " maxlength='10' class='form-control'")
					        </div>
					        <label class="col-md-1 control-label text-right p-r-none p-l-none ">每次用药次数</label>
					        <div class="col-md-1" style="width:100px;">
					            #formTextInput("drugFreq" "#htmlEscape($!item.drugFreq)" " maxlength='10' class='form-control'")
					        </div>
					        <div class="col-md-1 p-l-n p-r-n">
					            <button type="button" class="btn" style="border: none; background: none"> 
					            	<i class="glyphicon glyphicon-remove-circle red"></i> 
					            </button>
					        </div>
			            </div>
	            	#end
		            #foreach($item in $!visitDrugList)
			            <div class="form-group">
			            	<label class="col-md-1 control-label text-right p-r-none p-l-none ">药物名称</label>
					        <div class="col-md-2 ">
					        	#formHiddenInput("diseaseDrugId" "$!item.diseaseDrugId" "")
					        	#formHiddenInput("visitDrugId" "$!item.visitDrugId" "")
					            #formTextInput("diseaseDrugName" "#htmlEscape($!item.diseaseDrugName)" "onclick='selectDrug(this)' maxlength='20' class='form-control'")
					        </div>
			                <label class="col-md-1 control-label text-right p-r-none p-l-none" style="display: none">用药类型</label>
					        <div class="col-md-1" style="width:auto; display: none">
					            #formSingleSelectFirstNone("diseaseDrugType" "$!item.diseaseDrugType" $!{dicData.dicDiseaseDrugType} "class='form-control'" "")
					        </div>
					        <label class="col-md-1 control-label text-right p-r-none p-l-none ">用法用量</label>
					        <div class="col-md-1 ">
					            #formTextInput("drugQuantity" "#htmlEscape($!item.drugQuantity)" " maxlength='10' class='form-control'")
					        </div>
					        <label class="col-md-1 control-label text-right p-r-none p-l-none ">用药单位</label>
					        <div class="col-md-1" style="width:100px;">
					            #formTextInput("drugUnit" "#htmlEscape($!item.drugUnit)" " maxlength='10' class='form-control'")
					        </div>
					        <label class="col-md-1 control-label text-right p-r-none p-l-none ">每次用药次数</label>
					        <div class="col-md-1" style="width:100px;">
					            #formTextInput("drugFreq" "#htmlEscape($!item.drugFreq)" " maxlength='10' class='form-control'")
					        </div>
					        <div class="col-md-1 p-l-n p-r-n">
					            <button type="button" class="btn" onclick="deleteDrugForm(this, '$!item.visitDrugId')" style="border: none; background: none"> 
					            	<i class="glyphicon glyphicon-remove-circle red"></i> 
					            </button>
					        </div>
			            </div>
			        #end
	            </div>
	        </div>
	        <!-- 表单 结束 -->
	    </div>
	    <div class="modal-footer" style="text-align: center">
	        <button type="button" id="btn_save" class="btn btn-success"><i class="fa fa-paste"></i> 保 存 </button>
	    </div>
	</form>
	<div id="drugFormTemplet" style="display: none;">
	    <div class="form-group">
	    	<label class="col-md-1 control-label text-right p-r-none p-l-none ">药物名称</label>
	        <div class="col-md-2 ">
	        	#formHiddenInput("diseaseDrugId" "" "")
	        	#formHiddenInput("visitDrugId" "" "")
	            #formTextInput("diseaseDrugName" "" " onclick='selectDrug(this)' maxlength='20' class='form-control'")
	        </div>
	        <label class="col-md-1 control-label text-right p-r-none p-l-none" style="display: none">用药类型</label>
	        <div class="col-md-1" style="width:auto; display: none">
	            #formSingleSelectFirstNone("diseaseDrugType" "" $!{dicData.dicDiseaseDrugType} "class='form-control'" "")
	        </div>
	        <label class="col-md-1 control-label text-right p-r-none p-l-none ">每次用量</label>
	        <div class="col-md-1 ">
	            #formTextInput("drugQuantity" "" " maxlength='10' class='form-control'")
	        </div>
	        <label class="col-md-1 control-label text-right p-r-none p-l-none ">用药单位</label>
	        <div class="col-md-1" style="width:100px;">
	            #formTextInput("drugUnit" "" " maxlength='10' class='form-control'")
	        </div>
	        <label class="col-md-1 control-label text-right p-r-none p-l-none ">每次用药次数</label>
	        <div class="col-md-1" style="width:100px;">
	            #formTextInput("drugFreq" "" " maxlength='10' class='form-control'")
	        </div>
	        <div class="col-md-1 p-l-n p-r-n">
	            <button type="button" class="btn" style="border: none; background: none" onclick="deleteDrugForm(this, '')"> 
	            	<i class="glyphicon glyphicon-remove-circle red"></i> 
	            </button>
	        </div>
	    </div>
	</div>
</body>
<!-- 全局js -->
#parse("./common/pageJs.vm") 
#parse("./common/common.js.vm")
#parse("./publichealth/personCopdVisitEdit.js.vm")
</html>