<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>${SessionSysPortal.appTitle}</title>

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="resource/favicon.ico">
    <link href="resource/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="resource/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="resource/style/iconfont/iconfont.css" rel="stylesheet">
    <link href="resource/css/animate.css" rel="stylesheet">
    <link href="resource/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="resource/style/css/page.css" rel="stylesheet">
    <style>
	    body.mini-navbar .content-tabs button.navbar-minimalize {border-top-left-radius: 5px;}
	    body.mini-navbar .content-tabs button.navbar-minimalize i.fa-step-backward:before {content: "\f051";}
            
    </style>

</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side " role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element logo-font">
                            <img src="resource/style/images/logo.png">
                        </div>
                        <div class="logo-element">医疗<Br>平台</div>
                    </li>
                    ##通过后台传入的sysType参数来显示具体菜单,如果sysType没有值,使用默认类型defaultSysType
                    #set($_sysType = "$!{sysType}")
                    #if("" == "$!{_sysType}")
                        #set($_sysType = "$!{defaultSysType}")
                    #end
                    ##获取一级菜单列表
                    #set($_functionKey = "sys" + "${_sysType}")
                    #set($_mainSysList = $sysMenuData.get("${_functionKey}").get("children"))
                    #foreach($_mainSys in ${_mainSysList})
                    <li>
                        <a #if("" != "$!{_mainSys.get('href')}") href="$!{_mainSys.get('href')}" class="J_menuItem" #else href="javascript:void(0);" #end>
                            <i class="fa fa-home"></i>
                            <span class="nav-label">${_mainSys.get("text")}</span>
                            ##获取二级菜单列表
                            #set($_secondSysList = [])
                            #set($_secondSysList = $_mainSys.get("children"))
                            ##设置_existSecondSys作为是否包含二级菜单标识
                            #set($_existSecondSys = false)
                            #if($!{_secondSysList} != [] && "" != "$!{_secondSysList}")
                                #set($_existSecondSys = true)
                            #end
                            ##不包含二级菜单则不显示菜单尾部箭头
                            #if(${_existSecondSys})
                                <span class="fa arrow"></span>
                            #end
                        </a>
                        #if(${_existSecondSys})
                        <ul class="nav nav-second-level">
                            ##遍历二级菜单
                            #foreach($_secondSys in $_secondSysList)                        
                            <li>
                                ##获取三级级菜单列表
                                #set($_thirdSysList = [])
                                #set($_thirdSysList = $_secondSys.get("children"))
                                ##设置_existThirdSys作为是否包含三级菜单标识
                                #set($_existThirdSys = false)
                                #if($!{_thirdSysList} != [] && "" != "$!{_thirdSysList}")
                                    #set($_existThirdSys = true)
                                #end
                                ##根据是否包含链接设置a标签的href和class
                                <a #if("" != "$!{_secondSys.get('href')}") href="$!{_secondSys.get('href')}" class="J_menuItem" #else href="javascript:void(0);" #end>
                                $!{_secondSys.get("text")} 
                                #if(${_existThirdSys})<span class="fa arrow"></span>#end
                                </a>
                                ##包含三级菜单则进行遍历显示
                                #if(${_existThirdSys})
                                    <ul class="nav nav-third-level">
                                    #foreach($_thirdSys in ${_thirdSysList})
                                        <li><a class="J_menuItem" #if("" != "$!{_thirdSys.get('href')}") href="$!{_thirdSys.get('href')}" #else href="javascript:void(0);" #end>$!{_thirdSys.get("text")}</a></li>
                                    #end
                                    </ul>
                                #end
                            </li>
                            #end
                        </ul>
                        #end
                    </li>
                    #end
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom banner">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header userInfo">
                        <dl>
                            <dt>$!{currentUser.name}<span onclick="$('#editPassword').click()" class="J_menuItem user-set" style="cursor: pointer;"><i class="fa fa-unlock-alt" title="密码修改"></i></span>
	                            <a id="editPassword" href="manager/passwordEdit.do" class="J_menuItem user-set" data-index="0" style="display: none">密码修改</a>
                            </dt>
                            <dd>$!{currentUser.sysOrg.name}</dd>                           
                         </dl>                        
                    </div>
                    <div class="navbar-right">
                        <dl class="sys-nav-icon">
                            ##根据sysType判断当前图标对应菜单是否被选中
                            #set($_sysType = "$!{sysType}")
                            #if("" == "$!{_sysType}")
                                #set($_sysType = "$!{defaultSysType}")
                            #end
                            #if("$!{_sysType}" != "$!{CONST.Contstants.SYS_TYPE_HIS}")
                                <dd><a href="main.do?sysType=$!{CONST.Contstants.SYS_TYPE_HIS}"><i class="iconfont">&#xe602;</i><span>患者登记</span> </a></dd>
                            #else
                                <dd class="active"><a href="javascript:void(0);"><i class="iconfont">&#xe602;</i><span>患者登记</span> </a></dd>
                            #end
                            #if("$!{_sysType}" != "$!{CONST.Contstants.SYS_TYPE_GRADE}")
                                <dd><a href="main.do?sysType=$!{CONST.Contstants.SYS_TYPE_GRADE}"><i class="iconfont">&#xe61e;</i><span>双向转诊</span> </a></dd>
                            #else
                                <dd class="active"><a href="javascript:void(0);"><i class="iconfont">&#xe61e;</i><span>双向转诊</span> </a></dd>
                            #end
                            #if("$!{_sysType}" != "$!{CONST.Contstants.SYS_TYPE_RECONSULT}")
                                <dd><a href="main.do?sysType=$!{CONST.Contstants.SYS_TYPE_RECONSULT}"><i class="iconfont">&#xe604;</i><span>远程会诊</span> </a></dd>
                            #else
                                <dd class="active"><a href="javascript:void(0);"><i class="iconfont">&#xe604;</i><span>远程会诊</span> </a></dd>
                            #end
                            #if("$!{_sysType}" != "$!{CONST.Contstants.SYS_TYPE_PACS}")
                                <dd class="hidden-xs"><a href="main.do?sysType=$!{CONST.Contstants.SYS_TYPE_PACS}"><i class="iconfont">&#xe614;</i><span>医学影像</span> </a></dd>
                            #else
                                <dd class="hidden-xs active"><a href="javascript:void(0);"><i class="iconfont">&#xe614;</i><span>医学影像</span> </a></dd>
                            #end
                            #if("$!{_sysType}" != "$!{CONST.Contstants.SYS_TYPE_LIS}")
                                <dd class="hidden-xs"><a href="main.do?sysType=$!{CONST.Contstants.SYS_TYPE_LIS}"><i class="iconfont">&#xe63b;</i><span>检验</span> </a></dd>
                            #else
                                <dd class="hidden-xs active"><a href="javascript:void(0);"><i class="iconfont">&#xe63b;</i><span>检验</span> </a></dd>
                            #end
                            #if("$!{_sysType}" != "$!{CONST.Contstants.SYS_TYPE_RIS}")
                                <dd class="hidden-xs"><a href="main.do?sysType=$!{CONST.Contstants.SYS_TYPE_RIS}"><i class="iconfont">&#xe6c6;</i><span>云心电系统</span> </a></dd>
                            #else
                                <dd class="hidden-xs active"><a href="javascript:void(0);"><i class="iconfont">&#xe6c6;</i><span>云心电系统</span> </a></dd>
                            #end
                            #if("$!{_sysType}" != "$!{CONST.Contstants.SYS_TYPE_HEALTH}")
                                <dd class="hidden-xs"><a href="main.do?sysType=$!{CONST.Contstants.SYS_TYPE_HEALTH}"><i class="iconfont">&#xe662;</i><span>公共卫生</span> </a></dd>
                            #else
                                <dd class="hidden-xs active"><a href="javascript:void(0);"><i class="iconfont">&#xe662;</i><span>公共卫生</span> </a></dd>
                            #end
                            #if("$!{_sysType}" != "$!{CONST.Contstants.SYS_TYPE_REPORT}")
                                <dd class="hidden-xs"><a href="main.do?sysType=$!{CONST.Contstants.SYS_TYPE_REPORT}"><i class="iconfont">&#xe660;</i><span>疫情应急</span> </a></dd>
                            #else
                                <dd class="hidden-xs active"><a href="javascript:void(0);"><i class="iconfont">&#xe660;</i><span>疫情应急</span> </a></dd>
                            #end
                            #if($!currentUser.isAdmin())
                            	<dd class="hidden-xs"><a href="sso/navigateOut.sso?moduleId=PUBLIC_SYS"><i class="iconfont">&#xe6ee;</i><span>系统管理</span> </a></dd>
                        	#end
                        </dl>
                    </div>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left navbar-minimalize"><i class="fa fa-step-backward"></i>
                </button>
                <button class="roll-nav roll-left J_tabLeft" style="left: 40px"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="mainview"></a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="sso/logOut.sso" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main" style="height: calc(100% - 113px)" onclick="javascript:$('#iframe0').attr('src', $('#iframe0').attr('src'));">
                <iframe class="J_iframe" name="iframe" width="100%" height="100%" src="" frameborder="0" data-id="mainview" seamless></iframe>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>

    <!-- 全局js -->
    <script src="resource/js/jquery.min.js"></script>
    <script src="resource/js/bootstrap.min.js"></script>
    <script src="resource/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="resource/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="resource/js/plugins/layer/layer.min.js"></script>

    <!-- 自定义js -->
    <script src="resource/js/hplus.js"></script>
    <script type="text/javascript" src="resource/js/contabs.js"></script>
    <!-- 第三方插件 -->
    <script src="resource/js/plugins/pace/pace.min.js"></script>

    <script>
        $(document).ready(function () {
            //展开菜单
            $(".nav-header").next().find("a").first().trigger("click");
            //触发第一个链接
            $(".J_menuItem").first().trigger("click");
        });
    </script>

#* session refresh start *#
    <script>
        $(function(){
            var time= 10*60*1000;
            var interval;
            //alert("time:" + time);
            function run(){    
                interval=setInterval(fun,time);
        }

        function fun(){    
             $.ajax( {
                type : 'get',
                dataType:"json",
                async: false, 
                url : '${localSessionRefreshUrl}?isDebug=true',        
                success : function(data){
                                  //alert("${localSessionRefreshUrl}");
                             }
                } );
#if(!$!{session.getAttribute('loginMode').equals('noSSO')})
             $.ajax( {
                type : 'get',
                dataType:"json",
                async: false, 
                url : '${ssoSessionRefreshUrl}?isDebug=true',        
                success : function(data){
                                 // alert("${ssoSessionRefreshUrl}");
                             }
                } );
#end
        };
        run();
    });
    </script>
#* session refresh end *#


</body>

</html>
