##附件显示模板

#if(${attachpage.data})
              <tr>
                <td width="18%" class="table_form_color_td">附件列表</td>
                <td width="82%" colspan="3">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            #foreach($data in ${attachpage.data})
                                #set($attMap = ${HELPER_BEAN.getBeanNameMap(${data})})
                                 <tr>
                                    <td height="17">
                                        <a href="../scm/go.do?action=/attach/download&keyid=$!{attMap.get('oa_other_attach_id')}">$!{attMap.get('true_name')}（<font color="#FF0000">#getfileSizeKb($!{attMap.get('file_size')})</font>）</a>
                                        #if(${cell.showInfo})
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            #foreach($attcell in ${cell.showInfo})
                                                #joinText($attcell $attMap)&nbsp;&nbsp;
                                            #end
                                        #end
                                        <input type="button" value="附件下载" name="downloadattach" onclick="javascript:doDownloadattach($!{attMap.get('oa_other_attach_id')})" class="button_2"/>
                                    </td>
                                </tr>
                            #end
                        </tbody>
                     </table>
                </td>

#end