<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=gbk" />
  <title>$!{title}</title>
  <link href="../script/css.css" rel="stylesheet" type="text/css" />
  <link href="../script/DHTML_calendar_style.css" rel="stylesheet" type="text/css" media="all"  title="calendar_style" />
  <script language="javascript" type="text/javascript" src="../script/common.js"></script>
  <script language="JavaScript" type="text/javascript" src="../script/validator.js"></script>
  <script language="JavaScript" type="text/javascript" src="../script/DHTML_calendar.js"></script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="top" height="1">
    <td>
      <table width="100%" height="26" border="0" cellpadding="0" cellspacing="0" class="table_bg">
        <tr>
          <td height="24">
            <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" class="pagetitle">
              <tr>
                <td>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr> <!-- 页面标题及相关按钮 begin --->
                      <td width="1%"></td>
                      <td width="49%" height="24">
                        <img src="../images/mb_top_zl1.gif" width="16" height="13" align="absmiddle" alt="工具条" />
                        <span class="text12">$!{title}</span>
                      </td>
                      <td width="49%" align="right" valign="middle" class="text12">
                      </td>
                      <td width="1%"></td>
                    </tr> <!-- 页面标题及相关按钮 end --->
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
 <tr valign="top">
    <td>
      <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" class="table_border">
        <tr valign="top" height="1">
          <td>
            <table width="100%" border="0" cellpadding="3" cellspacing="0" class="t">
              <tr>
                <td class="inputarea" colspan="2" align=left>
#if(${message})
<pre>
$!{message}
</pre>
#end
                </td>
              </tr>
              <tr>
                <td class="inputarea" colspan="2" align=center>
##<input type="button" class="com_btn" value="&nbsp;返回&nbsp;" onclick="javascript:window.location=#singleQuotes()#getRequestUri()#singleQuotes()" />
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</body>

</html>