<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title> 
#parse("./common/pageCss.vm")
<style>
	html, body { height: 100% }
	#bodyFile { background: #eff7ff; border: #96c2f1 1px solid; padding: 3px 6px; }
	.fileRow {    padding: 6px;    border-bottom: #bbe1f1 1px dashed;}
	.fileRow:last-child {border-bottom: none;}
	.fileRow span.dicomRemove {float: right; color: #ed5565;}
</style>
</head>
<body class="gray-bg-1">
	<form id="editForm" class="form-horizontal" style="height: calc(100%)">
		<div class="modal-body full-height-scroll" >
	        <!-- 表单 开始 -->
	        <div class="table-content">
	            <div class="text-box"><h5>基本信息</h5></div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">活动名称</label>
	                <div class="col-sm-11">
	                	#formTextInput("eduName" "#htmlEscape($!healthEducation.eduName)" "maxlength='50' class='form-control' readOnly")
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">活动主题</label>
	                <div class="col-sm-3">
	                	#formTextInput("eduThemeId" "#lookUpDict($!dicData.dicEduThemeName $!healthEducation.eduThemeId)" "class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">活动时间</label>
	                <div class="col-sm-3">
						#formTextInput("eduTime" "$!date.format('yyyy-MM-dd HH:mm:ss', $!healthEducation.eduTime)" "class='input-sm form-control layer-date' readOnly")
	               </div>
	               <label class="col-sm-1 control-label text-right p-r-none p-l-none ">活动组织者</label>
	                <div class="col-sm-3">
	                	#formTextInput("organizer" "#htmlEscape($!healthEducation.organizer)" "maxlength='10' class='form-control' readOnly")
	                </div>
	            </div>
	            <div class="form-group">
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none">是否发放资料</label>
	                <div class="col-sm-3" style="padding-top: 6px;">
	                	#formRadioButtons("giveDatumFlag" "$!healthEducation.giveDatumFlag" $!dicData.dicYesNo "" "class='checkbox-inline i-checks' disabled='disabled'")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">是否播放音频资料</label>
	                <div class="col-sm-3" style="padding-top: 6px;">
	                	#formRadioButtons("playDatumFlag" "$!healthEducation.playDatumFlag" $!dicData.dicYesNo "" "class='checkbox-inline i-checks' disabled='disabled'")
	                </div>
	            </div>

	            <div class="text-box"><h5>发放印刷资料</h5></div>
	            <div class="form-group">
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none ">资料名称</label>
	                <div class="col-sm-3">
	                    #formTextInput("printingDatumName" "#htmlEscape($!healthEducation.printingDatumName)" "maxlength='50' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">资料发放位置</label>
	                <div class="col-sm-5" style="padding-top: 6px;">
	                	#formCheckboxesLable("givePositions" $!givePositions $!dicData.dicEduPutArea "&nbsp;" "class='m-t-xs m-r-xs i-checks' disabled='disabled'" "")
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">资料数量</label>
	                <div class="col-sm-3">
	                	#formIntZeroInput("datumCount" "$!healthEducation.datumCount" "maxlength='18' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">资料发放种类</label>
	                <div class="col-sm-5" style="padding-top: 6px;">
	                	#formCheckboxesLable("datumTypes" $!datumTypes $!dicData.dicEduDatumType "&nbsp;" "class='m-t-xs m-r-xs i-checks' disabled='disabled'" "")
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">资料发放人</label>
	                <div class="col-sm-3">
	                	#formTextInput("datumGiverName" "#htmlEscape($!healthEducation.datumGiverName)" "maxlength='10' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">资料发放对象</label>
	                <div class="col-sm-5" style="padding-top: 6px;">
	                	#formCheckboxesLable("receiveObjects" $!receiveObjects $!dicData.dicEduCrowdType "&nbsp;" "class='m-t-xs m-r-xs i-checks' disabled='disabled'" "")
	                </div>
	            </div>
	
	            <div class="text-box"><h5>播放音像资料</h5></div>
				<div class="form-group">
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none ">开始播放时间</label>
	                <div class="col-sm-3">
						#formTextInput("videoPlayStartTime" "$!date.format('yyyy-MM-dd HH:mm:ss', $!healthEducation.videoPlayStartTime)" "id='videoPlayStartTime' class='input-sm form-control layer-date' readOnly")
	               </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">截止播放时间</label>
	                <div class="col-sm-3">
						#formTextInput("videoPlayEndTime" "$!date.format('yyyy-MM-dd HH:mm:ss', $!healthEducation.videoPlayEndTime)" "id='videoPlayEndTime' class='input-sm form-control layer-date' readOnly")
	               </div>
	               <label class="col-sm-1 control-label text-right p-r-none p-l-none ">播放时长（分）</label>
	                <div class="col-sm-3">
	                    #formTextInput("duration" "" "id='duration' class='form-control' readOnly")
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">播放人</label>
	                <div class="col-sm-3">
	                	#formTextInput("videoPlayerName" "#htmlEscape($!healthEducation.videoPlayerName)" "maxlength='10' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">播放位置</label>
	                <div class="col-sm-5" style="padding-top: 6px;">
	                	#formCheckboxesLable("playPositions" $!playPositions $!dicData.dicEduPutArea "&nbsp;" "class='m-t-xs m-r-xs i-checks' disabled='disabled'" "")
	                </div>
	            </div>
	
	            <div class="text-box"><h5>活动小结</h5></div>
	            <div class="form-group">
	                <div class="col-md-12">
	                    #formTextarea("briefSummary" "#htmlEscape($!healthEducation.briefSummary)" "rows='3' style='width:100%;' class='form-control' readOnly")
	                </div>
	            </div>
	
	            <div class="text-box"><h5>活动评价</h5></div>
	            <div class="form-group">
	                <div class="col-md-12">
	                    #formTextarea("eduEstimate" "#htmlEscape($!healthEducation.eduEstimate)" "rows='3' style='width:100%;' class='form-control' readOnly")
	                </div>
	            </div>
				
	            <div class="text-box"><h5>资料存档</h5></div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">资料存档类型</label>
	                <div class="col-sm-11" style="padding-top: 6px;">
	                	#formCheckboxesLable("archiveTypes" $!archiveTypes $!dicData.dicEduDatumType "&nbsp;" "class='m-t-xs m-r-xs i-checks' disabled='disabled'" "")
	                </div>
	            </div>	            
	            <div class="form-group">
                    <div class="col-sm-1"></div>
                    <div id="bodyFile" class="col-sm-10">
                        #foreach($item in $!fileList.items)
                            <div class="fileRow">
                                <span class="showTrueName">$!item.trueName</span>&nbsp;&nbsp;&nbsp;
                                <span class="showFileSize">$!item.calculateSize() KB</span>
                                <span id="btn_down_file" class="dicomRemove">
                                    <a href="javascript:void(0);" id="$!item.affixItemId" class="btn btn-info btn-xs">下载</a>
                                </span>
                            </div>
                        #end 
                    </div>                    
                    <iframe id="down_file" src="" style="display: none"></iframe>
                    <div class="col-sm-1"></div>
                </div>           
	            
	            
	        </div>
	        <!-- 表单 结束 -->
	    </div>
	</form>
</body>
<!-- 全局js -->
#parse("./common/pageJs.vm")
#parse("./common/common.js.vm")
<script type="text/javascript">
	if ($('#videoPlayEndTime').val() != "" && $('#videoPlayStartTime').val() != "") {
		$('#duration').val(common.timeDifference($('#videoPlayEndTime').val(), $('#videoPlayStartTime').val(), 'm'));
	}
</script>
<script type="text/javascript">
$(function (){
    // 下载单个附件
    $('#btn_down_file a').click(function (){
        if(this.id == undefined || this.id == "") {
            return false;
        }
        common.downLoadFile('down_file', 'healthEduAffix', this.id)
    });
})
</script>
</html>