<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>公众健康咨询活动编辑</title> 
#parse("./common/pageCss.vm")
<style>
	html, body { height: 100% }
	#bodyFile { background: #eff7ff; border: #96c2f1 1px solid; padding: 3px 6px; }
	.fileRow {    padding: 6px;    border-bottom: #bbe1f1 1px dashed;}
	.fileRow:last-child {border-bottom: none;}
	.fileRow span.dicomRemove {float: right; color: #ed5565;}
</style>
</head>
<body class="gray-bg-1">
	<form id="editForm" class="form-horizontal" style="height: calc(100%)">
	    <div class="modal-body full-height-scroll" >
	        <!-- 表单 开始 -->
	        <div class="table-content">
	            <div class="text-box"><h5>基本信息</h5></div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">活动名称</label>
	                <div class="col-sm-11">
	                	#formTextInput("eduName" "#htmlEscape($!healthEducation.eduName)" "maxlength='50' class='form-control' readOnly")
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">活动主题</label>
	                <div class="col-sm-3">
	                	#formTextInput("eduThemeId" "#lookUpDict($!dicData.dicEduThemeName $!healthEducation.eduThemeId)" "class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">活动组织者</label>
	                <div class="col-sm-3">
	                	#formTextInput("organizer" "#htmlEscape($!healthEducation.organizer)" "maxlength='10' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">活动时间</label>
	                <div class="col-sm-3">
						#formTextInput("eduTime" "$!date.format('yyyy-MM-dd HH:mm:ss', $!healthEducation.eduTime)" "class='input-sm form-control layer-date' readOnly")
	               </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">活动地点</label>
	                <div class="col-sm-3">
	                	#formTextInput("eduSite" "#htmlEscape($!healthEducation.eduSite)" "maxlength='10' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">活动口号</label>
	                <div class="col-sm-3">
	                	#formTextInput("eduCatchword" "#htmlEscape($!healthEducation.eduCatchword)" "maxlength='10' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">专业人数</label>
	                <div class="col-sm-3">
	                	#formIntZeroInput("doctorProfessor" "$!healthEducation.doctorProfessor" "maxlength='2' class='form-control' readOnly")
	               </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">接受教育人数</label>
	                <div class="col-sm-3">
	                	#formIntZeroInput("takePartNum" "$!healthEducation.takePartNum" "maxlength='5' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">发放资料名称</label>
	                <div class="col-sm-3">
	                	#formTextInput("printingDatumName" "#htmlEscape($!healthEducation.printingDatumName)" "maxlength='10' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">发放资料数量</label>
	                <div class="col-sm-3">
	                	#formIntZeroInput("datumCount" "$!healthEducation.datumCount" "maxlength='10' class='form-control' readOnly")
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">接受教育对象类别</label>
	                <div class="col-sm-5" style="padding-top: 6px;">
	                	#formCheckboxesLable("receiveObjects" $!receiveObjects $!dicData.dicEduCrowdType "&nbsp;" "class='m-t-xs m-r-xs i-checks' disabled='disabled'" "")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">发放资料种类</label>
	                <div class="col-sm-5" style="padding-top: 6px;">
	                	#formCheckboxesLable("datumTypes" $!datumTypes $!dicData.dicEduDatumType "&nbsp;" "class='m-t-xs m-r-xs i-checks' disabled='disabled'" "")
	               </div>
	            </div>

	            <div class="text-box"><h5>活动准备资料</h5></div>
	            <div class="form-group">
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none ">宣传横幅内容</label>
	                <div class="col-sm-3">
	                    #formTextInput("healthEduReadyDatum.bannerContent" "#htmlEscape($!healthEduReadyDatum.bannerContent)" "maxlength='100' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">海报</label>
	                <div class="col-sm-3">
	                	#formTextInput("healthEduReadyDatum.eduPoster" "#htmlEscape($!healthEduReadyDatum.eduPoster)" "maxlength='100' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">展板</label>
	                <div class="col-sm-3">
	                	#formTextInput("healthEduReadyDatum.displayBoard" "#htmlEscape($!healthEduReadyDatum.displayBoard)" "maxlength='100' class='form-control' readOnly")
	                </div>
	            </div>
	            <div class="form-group">
	            	<label class="col-sm-1 control-label text-right p-r-none p-l-none ">宣传单</label>
	                <div class="col-sm-3">
	                	#formTextInput("healthEduReadyDatum.eduLeaflet" "#htmlEscape($!healthEduReadyDatum.eduLeaflet)" "maxlength='100' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">签到表</label>
	                <div class="col-sm-3">
	                	#formTextInput("healthEduReadyDatum.signIn" "#htmlEscape($!healthEduReadyDatum.signIn)" "maxlength='100' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none ">效果评价问卷表</label>
	                <div class="col-sm-3">
	                	#formTextInput("healthEduReadyDatum.eduEstimate" "#htmlEscape($!healthEduReadyDatum.eduEstimate)" "maxlength='100' class='form-control' readOnly")
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">资料发放登记表</label>
	                <div class="col-sm-3">
	                	#formTextInput("healthEduReadyDatum.giveDatumRecord" "#htmlEscape($!healthEduReadyDatum.giveDatumRecord)" "maxlength='100' class='form-control' readOnly")
	                </div>
	                <label class="col-sm-1 control-label text-right p-r-none p-l-none">传播实物、小礼品</label>
	                <div class="col-sm-3">
	                	#formTextInput("healthEduReadyDatum.smallGift" "#htmlEscape($!healthEduReadyDatum.smallGift)" "maxlength='100' class='form-control' readOnly")
	                </div>
	            </div>
	            
	            <div class="text-box"><h5>活动小结</h5></div>
	            <div class="form-group">
	                <div class="col-md-12">
	                    #formTextarea("briefSummary" "#htmlEscape($!healthEducation.briefSummary)" "rows='3' style='width:100%;' class='form-control' readOnly")
	                </div>
	            </div>
	
	            <div class="text-box"><h5>活动评价</h5></div>
	            <div class="form-group">
	                <div class="col-md-12">
	                    #formTextarea("eduEstimate" "#htmlEscape($!healthEducation.eduEstimate)" "rows='3' style='width:100%;' class='form-control' readOnly")
	                </div>
	            </div>
	            
	            <div class="text-box"><h5>附件资料</h5></div>
	            <div class="form-group">
    	            <div class="col-sm-1"></div>
	                <div id="bodyFile" class="col-sm-10">
	                	#foreach($item in $!fileList.items)
	                        <div class="fileRow">
		                        <span class="showTrueName">$!item.trueName</span>&nbsp;&nbsp;&nbsp;
		                        <span class="showFileSize">$!item.calculateSize() KB</span>
		                        <span id="btn_down_file" class="dicomRemove">		                        	
		                        	<a id="$!item.affixItemId" class="btn btn-info btn-xs">下载</a>		                    
		                        </span>
	                        </div>
                        #end 
	                </div>
	                <iframe id="down_file" src="" style="display: none"></iframe>
	                <div class="col-sm-1"></div>
	            </div>
	        </div>
	        <!-- 表单 结束 -->
	    </div>
	</form>
</body>
<!-- 全局js -->
#parse("./common/pageJs.vm") 
#parse("./common/common.js.vm")
<script type="text/javascript">
$(function (){
    // 下载单个附件
    $('#btn_down_file a').click(function (){
        if(this.id == undefined || this.id == "") {
            return false;
        }
        common.downLoadFile('down_file', 'healthEduAffix', this.id)
    });
})
</script>
</html>