<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=gbk" />
  <title>${SessionSysPortal.appTitle}</title>
  <base target='_self'/>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
  <link href="../app/right/right.css" rel="stylesheet" type="text/css" />
  <link href="../script/DHTML_calendar_style.css" rel="stylesheet" type="text/css" media="all"  title="calendar_style" />
  <script language="JavaScript" type="text/javascript" src="../script/DHTML_calendar.js"></script>
  <script type="text/javascript" src="../script/common.js"></script>
 #importDWRScript("workflowDwr.js")
<script type="text/javascript">


function initForm() {
    //初始化短信提醒框
    if( typeof top.dialogArguments.CustomValue.smsMessage != "undefined" && top.dialogArguments.CustomValue.smsMessage != null && top.dialogArguments.CustomValue.smsMessage != ""){
    //  document.getElementById("smsBox").style.display="block";
    //  document.getElementById("ifSend").checked = true;
    }
}

/**
 * 选择指定部门的员工.
 * @param id 部门编号
 * @param name 部门名称
 */
function selectDepartmentStaff(obj) {return;
    var checkedFlag = obj.checked;
  var e = document.editForm;
  var selectDepIds = "";
  var count = 0;
  // 设置局级标志
  var rank = 3; // 设置局级标志
  if(obj.rank == 1) { //市级
    rank = 4;
  } else if (obj.rank == 2) {
    rank = 5;
  }

  // 选择该节点的所有下属结点
  for (i = 0; i < e.depcheckbox.length; i++) {
    if(e.depcheckbox[i].ancestorDep == obj.id && e.depcheckbox[i].rank == rank) {
        e.depcheckbox[i].checked = checkedFlag;
    }
    if (s != 0 && count>s) {
        alert("最多只可以选择 " + s + " 个单位！")
      return;
    }
    if (e.depcheckbox[i].checked) { // 选择
        selectDepIds += e.depcheckbox[i].id + ",";
      count++;
    }
  }
    parent.sendSelectFromLeft(selectDepIds.substr(0, selectDepIds.length - 1));
}

//选择单位并确定，传递已选择单位并回调客户端js函数
function defaultBeforeSubmitQuery(){
    var e = document.listForm;

  var retDatas = new Array();

  var unitIds = "";

    if( typeof e.depcheckbox == "undefine" || e.depcheckbox == null ){
      alert("请选择单位！");
        return;
    }

    for(var i=0; i < e.depcheckbox.length; i++  ){
      if(e.depcheckbox[i].checked == true){
        var selectedValue = e.depcheckbox[i].value.split(',');
        retDatas.push({orgId:selectedValue[0],orgName:selectedValue[1]});
          if(retDatas.length > 1) unitIds += ",";
        unitIds += selectedValue[0];
      }
    }
    if(retDatas.length ==0 ){
      alert("请选择单位！");
        return;
    }
    retDatas.ifSend = 0;
    if(document.getElementById("ifSend").checked) {
      retDatas.ifSend = 1;
      retDatas.message = document.getElementById("message").value;
      retDatas.timingSendFlag = document.getElementById("timingSendFlag").value;
      retDatas.timingSendTime = document.getElementById("timingSendTime").value;
      if ( retDatas.message == null || retDatas.message == ''){
            alert('请输入短信内容');
            return false;
        }
        if (retDatas.message.length > 50) {
            alert("短信提醒内容最多只能输入50个字！");
            return ;
        }
        //判断是否需要定时发送
        if (retDatas.timingSendFlag=="1" && retDatas.timingSendTime=="") {
            alert("请输入定时发送时间！");
            return;
        }
    }
    if (typeof(top.dialogArguments.CustomValue) == 'function') {
        top.dialogArguments.CustomValue(retDatas);
    } else if(typeof(top.dialogArguments.CustomValue.callback) == 'function' ){
        top.dialogArguments.CustomValue.callback(retDatas);
    }
    window.close();
}

function checkAll(){
  var e = document.listForm;
  var selData = e.depcheckbox;
  var objarray = selData.length;
  if(selData.checked == false || selData.checked == true){
        selData.checked = e.checkAllUnit.checked;
  } else {
      for (i=0;i<objarray;i++){
      if(!selData[i].disabled && selData[i].rank != "14" && selData[i].rank != "16"){
              selData[i].checked = e.checkAllUnit.checked;
      }
        }
  }
}

function checkCity() {
  var e = document.listForm;
  var selData = e.depcheckbox;
  var objarray = selData.length;
  if(selData.checked == false || selData.checked == true){
        selData.checked = e.checkAllUnit.checked;
  } else {
      for (i=0;i<objarray;i++){
      if(!selData[i].disabled && selData[i].rank==1){
              selData[i].checked = e.checkCityUnit.checked;
      }
        }
  }
}

function checkCounty() {
  var e = document.listForm;
  var selData = e.depcheckbox;
  var objarray = selData.length;
  if(selData.checked == false || selData.checked == true){
        selData.checked = e.checkAllUnit.checked;
  } else {
      for (i=0;i<objarray;i++){
      if(!selData[i].disabled && selData[i].rank==2){
              selData[i].checked = e.checkCountyUnit.checked;
      }
        }
  }
}

function checkLineally() {
  var e = document.listForm;
  var selData = e.depcheckbox;
  var objarray = selData.length;
  if(selData.checked == false || selData.checked == true){
        selData.checked = e.checkAllUnit.checked;
  } else {
      for (i=0;i<objarray;i++){
      if(!selData[i].disabled && selData[i].rank==6){
              selData[i].checked = e.checkLineallyUnit.checked;
      }
        }
  }
}
function selectUnitByRank(ele_rank){
    var e = document.listForm;
  var selData = e.depcheckbox;
  var objarray = selData.length;

  if(selData.checked == false || selData.checked == true){
        selData.checked = e.checkAllUnit.checked;
  } else {

      for (i=0;i<objarray;i++){
      if(!selData[i].disabled && selData[i].rank==ele_rank.value){
              selData[i].checked = ele_rank.checked;
      }
        }
  }


}
//通过单位标志选择食安委成员单位
function selectSAWUnitByRank(ele_rank,rank_saw,rank_sab){
  var checkBoxs = document.getElementsByName("depcheckbox");
    for(var i=0,len=checkBoxs.length;i<len;i++) {
      if((checkBoxs[i].rank == rank_saw || checkBoxs[i].rank == rank_sab) && !checkBoxs[i].disabled){
      checkBoxs[i].checked = ele_rank.checked;
    }
  }
}
// 是否短信提醒
function ifTip(inp) {
  document.getElementById("timingDiv").style.display = inp.checked?"inline":"none";
  document.getElementById("message").style.display = inp.checked?"inline":"none";
}

// 是否定时
function ifTiming(inp) {
  document.getElementById("timingSendFlag").value = inp.checked?"1":"0";
  document.getElementById("timingSpan").style.display = inp.checked?"inline":"none";
}
</script>

</head>


<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="javascript:initForm();">

#set($_layout = {
    "title" : "选择单位",
    "jslib" : {
        "validator" : "1"
    },
    "notshowreturnButton" : false,
    "buttonList" : [
        {
            "type" : "button",
            "title" : "确认",
            "onclick" : "javascript:defaultBeforeSubmitQuery()"
        },
        {
            "type" : "button",
            "title" : "关闭",
            "onclick" : "javascript:window.close()"
        }
    ],
    "notshowreturnButton" : true,
    "queryForm" : {
        "name":"listForm"
    }

})
<form name="listForm" method="post" action="">
    <div class="gradual">
    #parse("/manage/EditToolBar.tpl.vm")
    <input type="hidden" name="nodeType" value=$!{nodeType}>
    <table width="99%" border="0" cellspacing="0" cellpadding="1" id="smsBox" >
    <!-- 通过参数传递短信预设值 ，如果为null 则不需要短信框  -->
    <tr>
        <td align="left" valign="middle">&nbsp;<label for="ifSend"><input value="0" onclick="ifTip(this);" id="ifSend" name="ifSend" type="checkbox"/>短信提醒</label>
            <div id="timingDiv" style="display:none;">
                <input type="hidden" name="timingSendFlag" id="timingSendFlag" value="0"/>
                <label for="timingSendFlagCheck"><input type="checkbox" id="timingSendFlagCheck" onclick="ifTiming(this)" />是否定时</label>
                <span id="timingSpan" style="display:none;width:175px;">#datetimePicker("timingSendTime" "" "style='width:80%'" 20)</span>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
          <textarea id="message" name="message" rows="3" style="border:1px black solid;width:98%;display:none;"></textarea>
          <script >
          document.getElementById("message").innerHTML = top.dialogArguments.CustomValue.smsMessage
          </script>
        </td>
    </tr>
</table>
</div>


<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
  <td width="5" class="Right-left_img">&nbsp;</td>
  <td valign="middle" > <table width="99%" border="0" cellspacing="0" cellpadding="1">
     <tr>
    <td colspan="2" width="100%">
      <span><input type="checkBox" name="checkAllUnit" onclick="javaScript:checkAll();"/>全选</span>
      <span ><input type="checkBox" name="checkCityUnit" value="1" onclick="javaScript:selectUnitByRank(this);"/>市局</span>
      <span ><input type="checkBox" name="checkVerifyUnit" value="8" onclick="javaScript:selectUnitByRank(this);"/>检验所</span>
      <span ><input type="checkBox" name="checkCountyUnit" value="2" onclick="javaScript:selectUnitByRank(this);"/>县局</span>
      <span ><input type="checkBox" name="checkareaUnit" value="10" onclick="javaScript:selectUnitByRank(this);"/>城区局</span>
      <span ><input type="checkBox" name="superviseUnit" value="12" onclick="javaScript:selectUnitByRank(this);"/>监督所</span>
      <span ><input type="checkBox" name="superviseUnit" value="14" onclick="javaScript:selectSAWUnitByRank(this,14,16);"/>食安委成员单位</span>
      <span ><input type="checkBox" name="superviseUnit" value="16" onclick="javaScript:selectUnitByRank(this);"/>食安办成员单位</span>
      ##<span ><input type="checkBox" name="checkLineallyUnit" value="6" onclick="javaScript:checkLineally();"/>直属单位</span>&nbsp;&nbsp;
    </td>
    </tr>
    </table></td>
  <td width="5" class="Right-right_img">&nbsp;</td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%" style="border:#d0d0d0 1px solid;">


  <tr height="1">
    <td>&nbsp;
  </td>
  </tr>

  <tr>
    <td>
      <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" class="mainTable">
        <tr>
          <td valign="top" width="60%" class="inputArea">
<div style="overflow:auto; width:100%; height:100%; border-width:0px; border-color:#696969; border-style:dotted; scrollbar-base-color: ; scrollbar-face-color: ; scrollbar-track-color: ; scrollbar-arrow-color: ; scrollbar-3dlight-color: ; scrollbar-darkshadow-color: ; scrollbar-highlight-color: ; scrollbar-shadow-color: ">

    #showTree2($departmentTree "单位列表" 1 "allNode" "selectDepartmentStaff")
</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
<script>
//使当前单位不可选
var curUnit = document.getElementById("$!{currentUser.sysOrg.unitOrgId}");
if(curUnit != null && curUnit.disabled != "undefined"){
   curUnit.disabled = "true";
}
</script>
</body>
</html>
