<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=gbk" />
  <title>${SessionSysPortal.appTitle}</title>
  <base target='_self'/>
  <link href="../app/right/right.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../script/common.js"></script>

<script type="text/javascript">
function beforeSubmit() {
     var e = document.editForm ; 
     if(e.man_selected.length ==0) {
       //  alert('请选择部门');
       //  return;
     }
     var retData = [];
     for(i=0; i<e.man_selected.length; i++)  {
   	  retData[i]={
             orgId:e.man_selected.options[i].value,
             orgName:e.man_selected.options[i].text	  
         }; 
     }
    if (typeof(top.dialogArguments.CustomValue) == 'function') {
        top.dialogArguments.CustomValue(retData);
    } else {
        top.dialogArguments.CustomValue.callback(retData, dialogArguments.CustomValue.custom);
    }
    top.close();
}


</script>
</head>
<body>

<div class="gradual">
#set($_layout = {
    "title" : "选择部门",
    "jslib" : {
        "validator" : "1"
    },
    "notshowreturnButton" : true,
    "buttonList" : [
        {
            "type" : "button",
            "title" : "确&nbsp;定",
            "onclick" : "javascript:beforeSubmit();"
        },
        {
            "type" : "button",
            "title" : "关&nbsp;闭",
            "onclick" : "javascript:parent.window.close();"
        }
    ] 
}) 
#parse("/manage/EditToolBar.tpl.vm")
</div>
<form name="editForm"  method="post">  
<table cellpadding="0" cellspacing="0"  height="400" width="100%" cellpadding="0" cellspacing="0"> 
	<tr>
		<td>
			<table class="Right" width="100%" border="0" cellspacing="0" cellpadding="0" >
				<tr>
					<td>&nbsp;&nbsp;</td>
					<td width="50%">
						<span class="text12" nowrap>部门列表</span>
						<select name="man_list" style="width:100%;height:400px;" multiple class="inputobject"
							onDblClick="listbox_item_add(man_list,man_selected)">
                        #foreach($dep in $!allDepInUnitList)
                            <option value="$!{dep.orgId}">$!{dep.name}</option>
                        #end
						</select>
					</td>
					<td valign="middle"  >
						<div align="center">
							<a href="#" onclick="listbox_item_add(man_list,man_selected)">
                            <img src="../images/arrow_right_single.gif" width="40" height="20" border="0" alt=""></a>
							<br><br><p>
							<a href="#" onclick="listbox_selecteditem_move(man_selected)">
                            <img src="../images/arrow_left_single.gif" width="40" height="20" border="0" alt=""></a>
							<br><br><p>
							<a href="#" onclick="listbox_item_alladd(man_list,man_selected)">
                            <img src="../images/arrow_right.gif" width="40" height="20" border="0" alt=""></a>
							<br><br><p>
							<a href="#" onclick="listbox_selecteditem_allmove(man_selected)">
                            <img src="../images/arrow_left.gif" width="40" height="20" border="0" alt=""></a>
                    	</div>
     				</td>
					<td width="50%" align="center" >
						<span class="text12" nowrap>已选部门</span>
						<select name="man_selected" style="width:100%;height:400px;" multiple class="inputobject"
							onDblClick="listbox_selecteditem_move(man_selected)">
						#foreach($depselect in $!selectedDepList)
                            <option value="$!{depselect.orgId}">$!{depselect.name}</option>
                        #end

						</select>
					</td>
					<td>&nbsp;&nbsp;</td>
  				</tr>
			</table> 
       </td>
    </tr> 
</table> 
 </form>
</body>

</html>
