#set($_layout = {
    "title" : "选择人员",
    "jslib" : {
        "validator" : "1"
    },
    "notshowreturnButton" : true,
    "buttonList" : [
        {
            "type" : "imgButton",
            "title" : "确定",
            "src": "../app/right/images/ok16.png",
            "onclick" : "javascript:sendSelectFromRight();"
        },
        {
            "type" : "imgButton",
            "title" : "关闭",
            "src": "../app/right/images/cancel16.png",
            "onclick" : "window.open('', '_self', ''); window.close();top.close();"
        }
    ],
    "queryForm" : {
        "name":"queryForm"
    },
     "leftUrl" : {
        "onclick" : "../manage/selectUnitDepTreeWithCandidateNotProvice.do?rootId=$!{request.getParameter('rootId')}&orgIds=$!{request.getParameter('orgIds')}&userIds=$!{request.getParameter('userIds')}"
    },
    "rightUrl" : {
        "onclick" : "../manage/selectMultiStaffFromCandidate.do"
    }
})
#parse("/manage/SelectMainFrameTemplate.tpl.vm")