<script>
    // 提交并结束报告
	$('#btn_finish-report').click(function (){
		saveDiagnosisReport("4");
	});
	// 暂存报告
	$('#btn_save-report').click(function (){
		saveDiagnosisReport("");
	});
	// 打印报告
	$('#btn_print_report').click(function (){
		var hdType = $('#hdType').val();
		var hdDiagnosisApplyId = $('#hdDiagnosisApplyId').val();
		var url = "../gradingclinics/applyTurnOutReceiptPrint.do?";
		window.open(url + "hdDiagnosisApplyId=" + hdDiagnosisApplyId + "&hdType=" + $('#hdType').val());
	});
	
	// 弹出附件下载层
	$('#btn_download_file').click(function (){
		var params = {};
		$.post(
			'../gradingclinics/getPatientAffixItem.do', 
			{affixId: $('#affixId').val()}, 
			function (data){
				if (null == data || data.length == undefined || data.length <= 0) {
					return ;
				}
				
				var html = [];
				$.each(data, function (){					
					html.push('<dl class="fjdown"><dd>');
					html.push('<a href="javascript:void(0)" onclick="downloadAffixItem(' + this.affixItemId + ')">' + this.trueName + '</a>')
					html.push('<a class="f_right" href="javascript:void(0)" onclick="downloadAffixItem(' + this.affixItemId + ')">下载</a>');
				    html.push('</dd></dl>');				
				});
				
				//弹出附件显示层
				layer.open({
				  type: 1,
				  title: '附件列表',
				  skin: 'layui-layer-rim', //加上边框
				  area: ['600px', '400px'], //宽高
				  content: html.join('')
				});
			}, 
		'json');
	});
	// 下载附件
	function downloadAffixItem(affixItemId) {
		$('#iframe_download').attr('src', '');
		$('#iframe_download').attr('src', '../pateintAffix/download.do?affixItemId=' + affixItemId);
	}
	
	// 提交表单
	function saveDiagnosisReport(transStatus) {
		var params = common.serializeObject($('#reportForm'));
		if (params.examFinding == undefined || params.examFinding == "") {
			common.alert("请填写检查所见", 0);
			return false;
		}
		if (params.examHint == undefined || params.examHint == "") {
			common.alert("请填写检查提示", 0);
			return false;
		}
		if (params.diagnosticOpinion == undefined || params.diagnosticOpinion == "") {
			common.alert("请填写诊断意见", 0);
			return false;
		}
		params.transStatus = transStatus;
		$.post("../gradingclinics/saveDiagnosisReport.jo", params, function(result){
			if (result.code == "0") {
				$('#submitFlag').val("1");
				common.alert("保存成功", 1);
				if (transStatus == "4") {
					parent.callBackRefresh();
				}
			} else {
				common.alert(result.msg, 2);
				$('#submitFlag').val("");
			}
		}, "json");
	}
	
	// 拷贝知识内容
	function setEditor(obj) {
		var eleId = $('#focusEle').val();
		var text = $('#' + eleId).val();
		var content = $(obj, window.frames["kbListIframe"].document).next().text();
		
		var leftExp = new RegExp("\\[","g");
		var rightExp = new RegExp("\\]","g");
		content = content.replace(leftExp, "").replace(rightExp, "")
		
		$('#' + eleId).val(text + content);
	}

//预加载
$(document).ready(function () {
       //知识库-请求后台数据，初始化知识库的jsTree
       $.post("../report/emrKbTypeTree.do", {topEmrKbTypeCode:'002'}, function(result){
	       	if (null != result && result.length > 0) {
				result.splice(0,1, $.extend(result[0], {state: {opened : true }}));
			}
	       	var dataArray =  result;
	       	$('#jstree1').jstree({ 
	       		'core' : { "force_text": true, "cache": false, 'check_callback':true, 'data' : dataArray },
	       	    'plugins': ['types', 'dnd']
	       	}); 
		}, "json");

       //知识库-绑定选中事件
       $('#jstree1').bind("select_node.jstree", function(event, data) {  
           var inst = data.instance;  
           var selectedNode = inst.get_node(data.selected);
           $('#kbListIframe').attr('src', '../emrKb/emrKbDetailListByTypeId.do?emrKbTypeId=' + selectedNode.id);
       });
       
       //知识库-增加知识库信息节点
       function loadEmrKbDetailNode(inst, selectedNode){  
		// ajax请求后台获取知识库信息
         $.post("../report/findEmrKbDetail.do", {emrKbTypeId:selectedNode.id}, function(result){
       	var emrKbContent = "";
       	var emrKbDetailArr = result;
       	var html = [];
       	$(emrKbDetailArr).each(function(i){
       		html.push('<dd>');
			html.push('<a onClick="copyEmrKb(this)" href="javascript:void(0)">');
			html.push(this.emrKbTitle); 
			html.push('</a>');
			html.push('<div>' + this.emrKbContent + '</div>')
			html.push('</dd>');
       		
       	});
		$('#emrKbContent').html(html.join(''));
	  }, "json");
         
         //展开节点
         inst.open_node(selectedNode);  
       }  
      
       var viewer = new Viewer(document.getElementById('dowebok'), {
           url: 'data-original'
       });

       $('.viewer-in').css({position: "relative", width: "100%", height: "100%", top: "0", left: "0"});
 });

</script>