<!DOCTYPE html>
<html>
<head>
<!-- 导入头部信息及css -->
<title>患者PACS检查影像</title>
#parse("./common/pageCss.vm")
#parse("./common/pageJs.vm")
<script src="../resource/style/js/img-viewer.min.js"></script>
<link href="../resource/style/css/viewer.min.css" rel="stylesheet">

<style>
html, body {
	height: 100%;
}

.pic-viewer {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

dl#dowebok dd img {
	width: 20%;
	max-height: 120px;
	margin: 2%;
	float: left;
}
</style>
</head>
<body>

	 
		<!-- 检查资料 -->
		<div class="tab-content full-height-scroll" style="height: calc(100% - 50px)">
			<div id="examInfo" class="tab-pane active">
				<div class="row">
					<div class="col-xs-4">
						<div class="table-responsive">

							<table class="table table-bordered table-jcdj">
								<tbody>
									
									<tr>
										<th class="text-nowrap">检查部位</th>
										<td>$!patientExam.examPart</td>
										<th class="text-nowrap">检查方式</th>
										<td>$!patientExam.examWay</td>
									</tr>
									<tr>
										<th class="text-nowrap">登记医生</th>
										<td>$!patientExam.registerDoctor</td>
										<th class="text-nowrap">诊断医生</th>
										<td>$!patientExam.diagnosisDoctor</td>
									</tr>
									<tr>
										<th class="text-nowrap">主诉</th>
										<td colspan="3">$!patientExam.mainDesc</td>
										 
									</tr>
									<tr>
										<th class="text-nowrap">检查所见</th>
										<td colspan="3">$!examResult.examFindings</td>
									</tr>

									<tr>
										<th class="text-nowrap">检查提示</th>
										<td colspan="3">$!examResult.examHint</td>
									</tr>

									<tr>
										<th class="text-nowrap">病理诊断</th>
										<td colspan="3">$!examResult.pathologicDiagnosis</td>
									</tr>

									<tr>
										<th class="text-nowrap">检查建议</th>
										<td colspan="3">$!examResult.examAdvise</td>
									</tr>
									<tr>
			                          <td colspan="4" style="text-align:center;">
										<button type="button" id="downloadImg" class="btn btn-w-m btn-primary">
											<i class="fa fa-arrow-circle-down"></i>下载图片
										</button>
										<br>
										<div id="downloadMsg"></div>
										<iframe id="downloadIfrmae" src="" style="border: none; height: 0px; width: 100%"></iframe>
			                          </td>
			                      </tr>
								</tbody>
							</table>
						</div>

					</div>

					<div class="col-xs-8 " style="min-height: 450px;">
					<!-- 
						<iframe src="../pacsView/index.html?patientid=$!patient.patientId&pacsaccessnumber=$!patientExam.accessNumber" width="100%" height="500px" style="border: none"></iframe>
						 -->
						#if($!patientExam.imageType == '1')
						<!--iframe start-->
						<iframe src="../pacsView/index.html?patientid=$!patientExam.patientExamId&pacsaccessnumber=" width="100%" height="500px" style="border: none"></iframe>
						#else
							<!-- pic start-->
							<dl id="dowebok">
								#foreach($item in $!patientExamJpgList)
								<dd>
									<img src="data:image/jpg;base64,$!item" />
								</dd>
								#end
						 
							</dl>
						#end
					</div>
				</div>
			</div>
		</div>
	
	#parse("./common/common.js.vm")

	<script>
		
		//预加载
		$(document).ready(function() {
			// 打包下载图片
			$('#downloadImg').click(function() {
				$('#downloadMsg').html('正在打包压缩要下载的图片...');
				$.post("../pacs/compressImg.do", {
					patientExamId : "$!patientExam.patientExamId"
				}, function(result) {
					if (result == "0") {
						$('#downloadMsg').html('正在下载图片');
						$('#downloadIfrmae').attr('src', '../pacs/downloadImg.do?patientExamId=$!patientExam.patientExamId');
						$('#downloadMsg').html('');
					} else {
						$('#downloadMsg').html('压缩图片失败, 请检查是否有可压缩的图片数据');
					}
				}, "json");
			});

			//图片查看插件
			var viewer = new Viewer(document.getElementById('dowebok'), {
				url : 'data-original'
			});

			$('.viewer-in').css({
				position : "relative",
				width : "100%",
				height : "100%",
				top : "0",
				left : "0"
			});
		});
	</script>
</body>
</html>