<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>转诊单-回执单 打印</title> 
	<script src="../report/js/CreateControl.js" type="text/javascript" ></script>
	<script src="../report/js/GRUtility.js" type="text/javascript"></script>
	<style type="text/css">
        html,body {
            margin:0;
            height:100%;
        }
    </style>
	<script type="text/javascript">
		function window_onload(){
		    AjaxReportViewerStart(ReportViewer, "$!printDataUrl");
		}
	</script>
</head>
<body style="margin:0" onload="window_onload()">
    <script type="text/javascript"> 
        //用查询显示控件展现报表，从URL“../grf/1a.grf”获取报表膜板定义，报表数据通过 XMLHttpRequest 获取
        //这里不要设置 DataURL 参数（第四个参数为空），也不要让报表自动运行（第四个参数为 false）
        //在网页 onload 的事件上创建 XMLHttpRequest 对象，并由此对象从报表数据URL处获取数据，然后将报表数据加载到报表
	    CreatePrintViewerEx("100%", "100%", "$!grfPathUrl", "", false, "");
    </script>
</body>
</html>
