<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>转诊单转入记录</title>
#parse("./common/pageCss.vm")
<style>
html,body { height: 100%}
button.close { position: relative; z-index: 5555; right:9px; top:5px;}
ul.nav.nav-tabs { background: none}
.yxlx-label-f-none label {
	font-weight: 100
}
</style>
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="row">
					<!-- 查询表格 -->
					<form id="queryForm" method="post" class="form-horizontal">
						<input type="hidden" name="transStatus" value="3" /> 
						<div class="col-sm-12">
							<div class="form-group">
								<label class="control-label col-sm-1 p-r-none">患者姓名</label>
								<div class="col-sm-3">
									<input type="text" id="patientName" name="patientName" class="form-control">
								</div>
								
								<label class="control-label col-sm-1 p-r-none">身份证号</label>
								<div class="col-sm-3">
									<input type="text" id="idCard" name="idCard" class="form-control">
								</div>
							</div>
							
							<div class="form-group m-b-none">
								<label class="control-label col-sm-1 p-r-none">转出医院</label>
								<div class="col-sm-3">
									<!-- medicalInstitutionName -->
                                    <select id="institutionDownId" name="institutionDownId" data-placeholder=" " class="form-control" style="min-width: 220px" tabindex="2">
                                        <option value=""></option>
                                        #foreach($item in $!hospitalList)
                                        	<option value="$!item.orgId">$!item.name</option>
                                        #end
                                    </select>
								</div>

								<label class="control-label col-sm-1 p-r-none">申请时间</label>
								<div class="col-sm-3">
									<div class="input-group date">
										<input type="text" class="input-sm form-control layer-date" id="beginApplyTime" name="beginApplyTime" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" value="" /> <span class="input-group-addon">到</span> <input type="text"
											class="input-sm form-control layer-date" id="endApplyTime" name="endApplyTime" placeholder="结束时间" value="" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" />
									</div>
								</div>

								<div class="col-sm-3 text-center">
									<button id="btn_query" type="button" class="btn btn-primary btn-sm">
										<i class="fa fa-search"></i> 查 询
									</button>
									<button id="btn_clean" type="button" class="btn btn-primary btn-sm">
										<i class="iconfont fa icon-qingchu"></i> 清 空
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- 表格数据 -->
		<div class="ibox float-e-margins m-b-n">
			<div class="ibox-content">
				<div class="table-responsive tool">
					<!-- 列表表格 工具栏-->
					<div class="hidden-xs" id="exampleTableEventsToolbar" role="group">
					</div>
					<!-- 列表表格 -->
					<div class="example">
						<table id="auditTurnInGrid" class="table table-bordered table-hover" data-mobile-responsive="true"> </table>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<!--弹出填写报告窗口 -->
   <div class="modal inmodal" id="reportShowModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog " style="margin: 5px auto; width: calc(100% - 10px); height: calc(100% - 10px);">
            <div class="modal-content animated bounceInRight full-height">
            	<button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                </button>
				<div class="modal-body" style="height: calc(100% - 5px); padding: 0px" >
					<iframe id="reportShowIframe" src="" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="100%" style="margin-top: -24px;"></iframe>
				</div>
            </div>
        </div>
    </div>
    <!-- 上转查看层 -->
	<div class="modal inmodal full-height" id="up_modalId" tabindex="-1" role="dialog" aria-hidden="true" backdrop="false" data-backdrop="static">
		<div class="modal-dialog" style="margin: 5px auto; width: calc(100% - 10px); max-width:1346px; height: calc(100% - 10px);">
			<div class="modal-content animated bounceInRight full-height"> 
			</div>
		</div>
	</div>
	<!-- 下转查看层 -->
	<div class="modal inmodal full-height" id="down_modalId" tabindex="-1" role="dialog" aria-hidden="true" backdrop="false" data-backdrop="static">
		<div class="modal-dialog" style="margin: 5px auto; width: calc(100% - 10px); max-width:1346px; height: calc(100% - 10px);">
			<div class="modal-content animated bounceInRight full-height"> 
			</div>
		</div>
	</div>
	
	#parse("./common/pageJs.vm")
	#parse("./common/common.js.vm")
    <!-- 页面js -->
	#parse("./gradingclinics/transferReportPage.js.vm")
</body>
</html>
