<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>远程诊断知识列表</title>
<link rel="shortcut icon" href="../resource/favicon.ico">
<link href="../resource/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<link href="../resource/css/style.css?v=4.1.0" rel="stylesheet">
<link href="../resource/style/css/page.css?v=201711.08" rel="stylesheet">
<link href="../resource/editor/EMR/css/default.css" rel="stylesheet" >
<style>
  .zzk-list dl {margin:0 10px 0 10px}
  .zzk-list dl dd { display: inline-block; width: 90%; padding: 0 0 9px 0}
  .zzk-list a{ margin-right: 15px; width: 85%; }
</style>

</head>
<body>
	<div class="zzk-list">
		<dl>
			<!--信息热点列表　开始 --> 
			#foreach($item in $!dataList)
				<dd id="kb_$!item.emrKbDetailId">
					<a onClick="window.parent.setEditor(this, '$!item.emrKbDetailId')" href="javascript:void(0)">#htmlEscape($!item.emrKbTitle)</a>
				 	<div>$!item.emrKbContent</div>
				</dd>
			#end
			<!--信息热点列表　结束-->
		</dl>
	</div>
	
    <script src="../resource/editor/EMR/ueditor.EMR.js"></script>
</body>
</html>
