<link href="../resource/css/bootstrap.min.css" rel="stylesheet">
<link href="../resource/css/font-awesome.css" rel="stylesheet">
<link href="../resource/style/iconfont/iconfont.css" rel="stylesheet">
<link href="../resource/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="../resource/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="../resource/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="../resource/css/animate.css" rel="stylesheet">
<link href="../resource/css/style.css" rel="stylesheet">
<link href="../resource/style/css/page.css?v=1" rel="stylesheet">
<script src="../resource/style/js/ui.js"></script>
 <script src="../resource/js/plugins/citypicker/city-picker.data.js"></script>
 <script src="../resource/js/plugins/citypicker/city-picker.js"></script>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true"><i class="fa fa-close"></i></span> <span class="sr-only"><i class="fa fa-close"></i></span>
	</button>
	<h7 class="modal-title">新增突发公卫报告登记 <span class="must-red font-14">( 红字为必填 )</span></h7>
</div>
<div class="modal-body full-height-scroll" style="height: calc(100% - 92px)">
	<!--如果弹窗没有底部菜单栏则 -44px -->
	<form id="emHealthReportForm" class="form-horizontal">
		<input type="hidden" id="submitFlag" >
		<input type="hidden" id="healthReportId" name="healthReportId" value="$!emHealthReport.healthReportId" >
		
		<div class="row">

			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label must-red">填报单位</label>
				<div class="col-md-8">
					<input type="text" value="$!emHealthReport.fillOrgName" readonly="readonly" class="form-control">
					#formHiddenInput("fillOrgId" "$!emHealthReport.fillOrgId" " id='fillOrgId' ")
                    #formHiddenInput("fillOrgName" "$!emHealthReport.fillOrgName" " id='fillOrgName' ")
				</div>

			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label must-red">填报日期</label>
				<div class="col-md-8">
					<div class="input-daterange input-group date ">
						<input type="text" class="form-control layer-date" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" name="fillTime" value="$!date.format('yyyy-MM-dd', $!{emHealthReport.fillTime})" />
					</div>
				</div>

			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label must-red">报告人</label>
				<div class="col-md-8">
					<!-- <input type="text" class="form-control"> -->
					 <div class="input-group">
                          <input  type="text" value="$!emHealthReport.fillManName"  readonly="readonly" class="form-control">
                          #formHiddenInput("fillManId" "$!emHealthReport.fillManId" " id='fillManId' ")
                          #formHiddenInput("fillManName" "$!emHealthReport.fillManName" " id='fillManName' ")
				     </div>
				</div>

			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label">联系电话</label>
				<div class="col-md-8">
					<input id="linkmanPhone" name="linkmanPhone" type="text" value="$!emHealthReport.linkmanPhone" maxlength="20" class="form-control">
				</div>

			</div>
			<div class="form-group">
				<label class="col-md-2 control-label must-red">事件名称</label>
				<div class="col-md-10">
					<input id="eventName" name="eventName" value="$!emHealthReport.eventName" maxlength="100"  type="text" class="form-control" style="width: 94.8%">
				</div>

			</div>
			<div class="form-group">
				<label class="col-md-2 control-label must-red">信息类别</label>
				<div class="col-md-10">
					#formRadioButtonsLabel("eventTypeId" "$!emHealthReport.eventTypeId" $dicData.dicEventTypeMain "" "" "class='checkbox-inline i-checks'")
				</div>
			</div>
			<div class=" form-group">
				<label class="col-md-2 control-label must-red">突发事件等级</label>
				<div class="col-md-10">
					<!-- <label class="checkbox-inline i-checks"> <input type="radio" name="aa" value="">特别重大 </label>   -->
					#formRadioButtonsLabel("eventLevelId" "$!emHealthReport.eventLevelId" $dicData.dicEventLevel "" "" "class='checkbox-inline i-checks'")
				</div>

			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label must-red">初步诊断</label>
				<div class="col-md-8">
					<input id="firstDiagnosis" name="firstDiagnosis" value="$!emHealthReport.firstDiagnosis" type="text" class="form-control">
				</div>

			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label must-red">初步诊断日期</label>
				<div class="col-md-8">
					<div class="input-daterange input-group date ">
						<input id="firstDiagnosisTime" name="firstDiagnosisTime" type="text" class="form-control layer-date" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" value="$!date.format('yyyy-MM-dd', $!{emHealthReport.firstDiagnosisTime})" />
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label">订正诊断</label>
				<div class="col-md-8">
					<input name="modifyDiagnosis" value="$!emHealthReport.modifyDiagnosis"  maxlength="2000" type="text" class="form-control">
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label">订正诊断日期</label>
				<div class="col-md-8">
					<div class="input-daterange input-group date ">
						<input name="modifyDiagnosisTime" type="text" class="form-control layer-date" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" value="$!date.format('yyyy-MM-dd', $!{emHealthReport.modifyDiagnosisTime})"/>
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label">确认分级日期</label>
				<div class="col-md-8">
					<div class="input-daterange input-group date ">
						<input name="levelTime" type="text" class="form-control layer-date" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" value="$!date.format('yyyy-MM-dd', $!{emHealthReport.levelTime})" />
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label">订正分级日期</label>
				<div class="col-md-8">
					<div class="input-daterange input-group date ">
						<input name="modifyLevelTime" type="text" class="form-control layer-date" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" value="$!date.format('yyyy-MM-dd', $!{emHealthReport.modifyLevelTime})" />
					</div>
				</div>
			</div>
			  <div class="form-group">
                  <label class="col-md-2 control-label">报告地区</label>
                  <div class="col-md-5 " id="distpicker">
                      <div style="position: relative; width: 500px;">
                          <input id="reportRegionId" class="form-control" readonly type="text" value="$!reportRegionAddress" data-toggle="city-picker">
                      </div>
                  </div>    
                  <div class="col-md-3 " style="margin-left: 75px;"  >
					<button class="btn btn-default" id="reportRegionIdReset" type="button">重置</button> 
                  </div>
              </div>
              
			  <div class="form-group">
                  <label class="col-md-2 control-label">发生地区</label>
                  <div class="col-md-5 " id="distpicker">
                      <div style="position: relative; width: 500px;">
                          <input id="occurRegionId" class="form-control" readonly type="text" value="$!occurRegionAddress" data-toggle="city-picker">
                      </div>
                  </div>
                  <div class="col-md-3 " style="margin-left: 75px;" >
					<button class="btn btn-default" id="occurRegionIdReset" type="button">重置</button> 
                  </div>
              </div>
			<div class="form-group">
				<label class="col-md-2 control-label">详细地点</label>
				<div class="col-md-10">
					<input name="reportAddr" value="$!emHealthReport.reportAddr"  maxlength="200" type="text" class="form-control" style="width: 94.8%">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">事件发生场所</label>
				<div class="col-md-10">
					#formCheckboxesLable("eventAreaId" $!areaIdsList $dicData.dicEventArea "" "class='checkbox-inline i-checks'")
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">事件信息来源</label>
				<div class="col-md-10">
					 #formCheckboxesLable("eventSourceId" $!sourceIdsList $dicData.dicEventSource "" "class='checkbox-inline i-checks'")
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">事件信息来源详细</label>
				<div class="col-md-10">
					<input name="eventSource" value="$!emHealthReport.eventSource"  maxlength="300" type="text" class="form-control" style="width: 94.8%">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">事件波及地域范围</label>
				<div class="col-md-10">
					<input name="eventArea" value="$!emHealthReport.eventArea" type="text"  maxlength="300" class="form-control" style="width: 94.8%">
				</div>
			</div>
			
			
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label ">新报告病历数</label>
				<div class="col-md-8">
					<input name="fillIllCount" value="$!emHealthReport.fillIllCount"  maxlength="18" onkeyup="value=value.replace(/[^\d]/g,'')" type="text" class="form-control">
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label ">排除病例数</label>
				<div class="col-md-8">
					<input name="excludeIllCount" value="$!emHealthReport.excludeIllCount"  maxlength="18" onkeyup="value=value.replace(/[^\d]/g,'')" type="text" class="form-control">
				</div>
			</div>
			
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label ">累计报告病历数</label>
				<div class="col-md-8">
					<input name="addIllCount"  value="$!emHealthReport.addIllCount"  maxlength="18" onkeyup="value=value.replace(/[^\d]/g,'')" type="text" class="form-control">
				</div>
			</div>
			
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label ">累计报告死亡数</label>
				<div class="col-md-8">
					<input name="addDieCount" value="$!emHealthReport.addDieCount"  maxlength="18" onkeyup="value=value.replace(/[^\d]/g,'')" type="text" class="form-control">
				</div>
			</div>
			
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label must-red">事件发生日期</label>
				<div class="col-md-8">
					<div class="input-daterange input-group date ">
						<input id="eventOccurTime" name="eventOccurTime" type="text" class="form-control layer-date" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" value="$!date.format('yyyy-MM-dd', $!{emHealthReport.eventOccurTime})" />
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label">接到报告日期</label>
				<div class="col-md-8">
					<div class="input-daterange input-group date ">
						<input name="eventReportTime" type="text" class="form-control layer-date" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" value="$!date.format('yyyy-MM-dd', $!{emHealthReport.eventReportTime})" />
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label">首例病人发病日期</label>
				<div class="col-md-8">
					<div class="input-daterange input-group date ">
						<input name="firstAttackTime" type="text" class="form-control layer-date" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" value="$!date.format('yyyy-MM-dd', $!{emHealthReport.firstAttackTime})" />
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label class="col-md-4 control-label">末例病人发病日期</label>
				<div class="col-md-8">
					<div class="input-daterange input-group date ">
						<input name="endAttackTime" type="text" class="form-control layer-date" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" value="$!date.format('yyyy-MM-dd', $!{emHealthReport.endAttackTime})" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label ">主要症状</label>
				<div class="col-md-10">
					#formCheckboxesLable("cheifSymptomId" $!symptomIdsList $dicData.dicCheifSymptom "" "class='checkbox-inline i-checks'")
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">主要体征</label>
				<div class="col-md-10">
					<input name="mainSign" value="$!emHealthReport.mainSign"  maxlength="300" type="text" class="form-control" style="width: 94.8%">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">主要措施与效果</label>
				<div class="col-md-10">
					<input name="mainMeasure" value="$!emHealthReport.mainMeasure"  maxlength="300" type="text" class="form-control" style="width: 94.8%">
				</div>
			</div>

		</div>
	</form>
</div>
<div class="modal-footer" style="text-align: center">
	<button onclick="saveEmHealthReport();" type="button" class="btn btn-success">
		<i class="fa fa-save"></i> 保存
	</button>
	<button type="button" class="btn btn-warning" data-dismiss="modal">
		<i class="fa fa-close"></i> 关闭
	</button>
</div>

#parse("./common/common.js.vm")

<script>

        // 提交上转申请表单
        function saveEmHealthReport() {
        	 var emHealthReportParams = common.serializeObject($('#emHealthReportForm'));
            
            //
            if (emHealthReportParams.fillTime == undefined || emHealthReportParams.fillTime == "") {
                common.alert("请选择填报日期",0);
                return false;
            }
            if (emHealthReportParams.fillManId == undefined || emHealthReportParams.fillManId == "") {
                common.alert("请选择报告人",0);
                return false;
            }
            if ($.trim(emHealthReportParams.linkmanPhone)) {
    			if (!checkMobile(emHealthReportParams.linkmanPhone) && !checkPhone(emHealthReportParams.linkmanPhone)) {
    				common.alert("联系电话格式错误！",0);
	    			$("#linkmanPhone").focus();
    				return false;
    			}
    		}
            if (emHealthReportParams.eventName == undefined || emHealthReportParams.eventName == "") {
                common.alert("请填写事件名称",0);
                $("#eventName").focus();
                return false;
            }
            if (emHealthReportParams.eventTypeId == undefined || emHealthReportParams.eventTypeId == "") {
                common.alert("请勾选信息类别",0);
                return false;
            }
            if (emHealthReportParams.eventLevelId == undefined || emHealthReportParams.eventLevelId == "") {
                common.alert("请勾选突发事件等级",0);
                return false;
            }
            if (emHealthReportParams.firstDiagnosis == undefined || emHealthReportParams.firstDiagnosis == "") {
                common.alert("请勾选突发事件等级",0);
                return false;
            }
            if (emHealthReportParams.firstDiagnosisTime == undefined || emHealthReportParams.firstDiagnosisTime == "") {
            	$("#firstDiagnosisTime").focus();
                common.alert("请选择初步诊断日期",0);
                return false;
            } 
            if (emHealthReportParams.eventOccurTime == undefined || emHealthReportParams.eventOccurTime == "") {
                common.alert("请填写事件发生日期",0);
                $("#eventOccurTime").focus();
                return false;
            } 
            
            //报告地区
            if ($("#reportRegionId").parent().find(".select-item").last().attr('data-code') == undefined) {
	            emHealthReportParams.reportRegionId = '';
			}else{
				emHealthReportParams.reportRegionId = $("#reportRegionId").parent().find(".select-item").last().attr('data-code');
			}
            
            //发生地区
            if ($("#occurRegionId").parent().find(".select-item").last().attr('data-code') == undefined) {
	            emHealthReportParams.occurRegionId = '';
			}else{
				emHealthReportParams.occurRegionId = $("#occurRegionId").parent().find(".select-item").last().attr('data-code');
			}
 
            $.post("../emHealthReport/saveEmHealthReport.do", emHealthReportParams, function (result) {
                if (result.code == "0") {
                    $('#submitFlag').val("1");
                    $("#healthReportId").val( result.data.healthReportId);
                    common.alert("保存成功",0);
                    query();//重新查询
                } else {
                    common.alert("保存失败",0);
                    $('#submitFlag').val("");
                }
            }, "json");
        }
	    
        //对报告地区 发生地区
	    $(document).ready(function () {
	    	$('#reportRegionIdReset').click(function () {
	 			 $('#reportRegionId').citypicker('reset');
	 	    });
	    	$('#occurRegionIdReset').click(function () {
	 			 $('#occurRegionId').citypicker('reset');
	 	    });

	    });
</script>

