<script>
    
    //查询按钮时间
      function queryPersonDetail(){
          var queryParams = common.serializeObject($('#personDetail_queryForm'));
          var options = {url: '../personDetail/personDetailListData.jo?tiem=' + new Date().getTime(), silent: false, query: queryParams};
          $('#personDetailGrid').bootstrapTable('refresh', options); 
      }
      //清空查询框
      function clearQuery(){
            var $formObj = $("#personDetail_queryForm");
            $formObj.find("#q_personalName").val("");
            $formObj.find("#gender").val("");//选择框
            $formObj.find("#gender").trigger("chosen:updated");
            $formObj.find("#censusType").val("");//选择框
            $formObj.find("#censusType").trigger("chosen:updated");
      }
    
    $(function() {
        $('#personDetailGrid').bootstrapTable(
                {
                    url : "../personDetail/personDetailListData.jo",
                    mobileResponsive : true,
                    singleSelect : true,
                    clickToSelect: true,
                    pagination : true,
                    pageNumber : true,
                    cache : false,
                    pageSize : "10",
                    pageNumber : "1",
                    height : "408",
                    queryParams : function(params) {
                        var requestParams = common.serializeObject($('#personDetail_queryForm'));
                        requestParams.pageSize = params.pageSize;
                        requestParams.pageNumber = params.pageNumber;
                        return requestParams;
                    },
                    queryParamsType : "",
                    sidePagination : 'server',
                    columns : [
                    {checkbox:true},
                    {
                        field : 'personalName',
                        title : '居民姓名'
                    },{
                        field : 'gender',
                        title : '性别',
                        formatter :function (value, row, index) {
                            var dicSex = JSON.parse('$dicTools.changeMapToJson($dicData.dicSex)'); 
                            if (value) return dicSex[value];
                        }
                    }, {
                        field : 'archivePersonalNum',
                        title : '档案编号'
                    },{
                        field : 'certificateType',
                        title : '证件类型',
                        formatter :function (value, row, index) {
                            var dicCertificateType = JSON.parse('$dicTools.changeMapToJson($dicData.dicCertificateType)'); 
                            if (value) return dicCertificateType[value];
                        }
                    }, {
                        field : 'certificateNumber',
                        title : '证件编号'
                    },{
                        field : 'censusType',
                        title : '户籍类型',
                        formatter :function (value, row, index) {
                            var dicCensusType = JSON.parse('$dicTools.changeMapToJson($dicData.dicCensusType)'); 
                            if (value) return dicCensusType[value];
                        }
                    }, {
                        field : 'creatorName',
                        title : '建档人'
                    },{
                        field : 'createTime',
                        title : '建档时间',
                        formatter :function (value) {
                            if (value) {
                                return getSmpFormatDateByLong(value,false);
                            }
                        }
                    }
                ],
                onCheck:function(row){
                    if ( parent.selectPersonCallBack && typeof(parent.selectPersonCallBack) == "function") {
                        parent.selectPersonCallBack(row);//回调函数
                        // 关闭窗口
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index); 
                    }
                },
        		onLoadSuccess : function(){
        			var height = ($('#personDetailGrid').parents("body").height() - $('#personDetail_queryForm').parents(".ibox-content").height() - 42);
        			$('#personDetailGrid').bootstrapTable('resetView', {height: height}); 
        		}
        });
    });
</script>