#set( $_layout = $allinfo_layout)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=gbk" />
  <title>$!{_layout.title}</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css" />
#parse("/template/ScriptTemplate.tpl.vm")

</head>
<script>
function showFullScreen() {
    var fullInfo = document.getElementById("fullInfo");
    var allInfo = document.getElementById("allInfo");

    var fullFrame = document.getElementById("fullNewsContent");
    var allInfoFrame = document.getElementById("NewsContent");
    setContent(document.editForm.content, "NewsContent");

    allInfo.style.display = 'none';
    fullFrame.src = "../scm/go.do?action=/editer/editer_display";
    allInfoFrame.src = "";
    fullInfo.style.display = '';
}

function returnAllInfo() {
    var fullInfo = document.getElementById("fullInfo");
    var allInfo = document.getElementById("allInfo");
    var fullFrame = document.getElementById("fullNewsContent");
    var allInfoFrame = document.getElementById("NewsContent");
    setContent(document.editForm.content, "fullNewsContent");
    allInfo.style.display = '';
    fullFrame.src = "";
    allInfoFrame.src = "../scm/go.do?action=/editer/editer_display";

    fullInfo.style.display = 'none';

}

#parse("/template/ValidatorTemplate.tpl.vm")

#if(${_layout.script})
#foreach($asc in ${_layout.script})
$!asc
#end
#end
</script>
##以下是编辑界面的工具条

<body>
<div id="allInfo">
    <div class="gradual">
    #parse("/template/EditToolBar.tpl.vm")
    <div class="clear_Up">
    <table cellpadding="0" cellspacing="0" class="table_form">
    <form name="$!{_layout.editForm.name}" method="post" action="#getRequestUri()?action=$!{_layout.editForm.action}" onsubmit="saveData(this)" enctype="multipart/form-data">
        <input type="hidden" name="submitFlag" value="0" />
    #set($editBeanMap = ${HELPER_BEAN.getBeanNameMap(${data})})
    #set($cellcount=0)
    #set($cur_colspan=0)
    #foreach($cell in $_layout.editFieldList)
    #if("hidden" != ${cell.type})
    #if(${cell.colspan} && ${cell.colspan} > 2)
    #if($cellcount!=0)##留空本行剩下的单元，准备新开一行
                    <td width="10%" class="table_form_color_td">&nbsp;</td>
                    <td width="40%" >&nbsp;</td>
                  </tr>
    #end
    #set($cellcount=0)##新开一行
    #set($cur_colspan=3)
    #end
    #if($cellcount==0)##行开始
                  <tr>
    #end

    #set($cellcount=$cellcount+1)
                    <td width="10%" class="table_form_color_td">#inputTitle2(${cell})</td>
                    <td width="40%" #if($cur_colspan>2)colspan="$cur_colspan"#end >
    #if(${cell.view})
    #viewInputField(${cell} $editBeanMap)
    #else
    #inputField(${cell} $editBeanMap)##if(${cell.required})#requiredTag()#end
    #end
                     </td>
    #if($cur_colspan > 2)##新开一行
    #set($cellcount=2)
    #set($cur_colspan=0)
    #end
    #if($cellcount>=2)##行结束
    #set($cellcount=0)
                  </tr>
    #end
    #else
    <input type="hidden" name="${cell.field}" value="$!{editBeanMap.get(${cell.field})}" />
    #end
    #end
    #if($cellcount!=0)
                    <td width="10%" class="table_form_color_td">&nbsp;</td>
                    <td width="40%" >&nbsp;</td>
                  </tr>
    #end
    #if($_layout.attach)
        #parse("/template/attach.tpl.vm")
    #end
    </form>
    </table>
</div>

#parse("/template/DataListTemplate.tpl.vm")
#parse("/template/bindPowerDataListTemplate.tpl.vm")
</div>

</div>
</div>

<div id="fullInfo" style="display:none">
    #set($screenInfo_layout.notshowreturnButton = true)
    #set( $_layout = $screenInfo_layout)
    #parse("/template/EditToolBar.tpl.vm")
<div class="gradual">
    <div class="clear_Up">
    <table cellpadding="0" cellspacing="0" class="table_form">
    <tr>
     <td width="100%">
        <iframe id='fullNewsContent' src='' frameborder=0 scrolling=no width='100%'  height='800'></iframe>
     </td>
    </tr>
    </table>
</div>
</div>
    </div>

</body>
</html>
