<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=gbk" />
  <title>$!{_layout.title}</title>
<link href="../app/right/right.css" rel="stylesheet" type="text/css" />
#parse("/template/ScriptTemplate.tpl.vm")
</head>
<script language="JavaScript">
#if($message)
alert("$esc.javascript($message)");
#end
#set($_layout.queryCondition = $_layoutquery.queryCondition)
#parse("/template/ValidatorTemplateWithQuery.tpl.vm")
#if(${_layout.script})
#foreach($asc in ${_layout.script})
$!asc
#end
#end

#if(${_layoutJs.script})
#foreach($asc in ${_layoutJs.script})
$!asc
#end
#end
</script>

<body scroll="no">
<div class="gradual">
##以下是查询界面的工具条
#parse("/template/QueryToolBar.tpl.vm")

##以下是录入查询条件的表格
#parse("/template/MaterialStatQueryGrid4.tpl.vm")

#if(${__tipMessage})
<center><font color=red>${__tipMessage}</font></center>
#else
#if($page && ${page.token})
#parse("/template/PageToolBar.tpl.vm")
#end
#parse("/template/bindPowerDataListTemplate.tpl.vm")
#end
</div>
</div>
</body>
##<script language="JavaScript">
##    if(!isNullByForm(document.queryForm)) {
##        doExpand("queryBody", document.getElementById("doExpandButton"));
##    }
##</script>
</html>
