<div>
#set($editBeanMap = ${HELPER_BEAN.getBeanNameMap(${maindata})})
  <table cellpadding="0" cellspacing="0" class="form_tab">
    <tr>
       <td align="right">
		#inputTitle($!{_layout.billno.title} $!{_layout.billno.required})：#viewInputField(${_layout.billno} $editBeanMap)&nbsp;&nbsp;
       </td>
    </tr>
  </table>
<table cellpadding="0" cellspacing="0" class="form_tab">
    <input type="hidden" name="submitFlag" value="0" />
#set($cellcount=0)
#set($cur_colspan=0)
#foreach($cell in $_layout.mainFieldList)
#if("hidden" != ${cell.type})
#if(${cell.colspan} && ${cell.colspan} > 2)
#if($cellcount!=0)##留空本行剩下的单元，准备新开一行
                <td width="10%" class="form_cell_bg">&nbsp;</td>
                <td width="40%" >&nbsp;</td>
              </tr>
#end
#set($cellcount=0)##新开一行
#set($cur_colspan=3)
#end
#if($cellcount==0)##行开始
              <tr>
#end

#set($cellcount=$cellcount+1)
                <td width="10%" class="form_cell_bg">#inputTitle($!{cell.title} $!{cell.required})</td>
                <td width="40%" #if($cur_colspan>2)colspan="$cur_colspan"#end >
#if(${cell.view})
#viewInputField(${cell} $editBeanMap)
#else
#inputField(${cell} $editBeanMap)##if(${cell.required})#requiredTag()#end
#end
                 </td>
#if($cur_colspan > 2)##新开一行
#set($cellcount=2)
#set($cur_colspan=0)
#end
#if($cellcount>=2)##行结束
#set($cellcount=0)
              </tr>
#end
#else
<input type="hidden" name="${cell.field}" value="$!{editBeanMap.get(${cell.field})}" />
#end
#end
#if($cellcount!=0)
                <td width="10%" class="form_cell_bg">&nbsp;</td>
                <td width="40%" >&nbsp;</td>
              </tr>
#end
</table>
</div>
