<div id="noteContent" style="display:none">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr align="center"><td class="table_print_top1">${_layout.title}</td></tr>
    <tr><td>&nbsp;</td></tr>
  </table>
  <table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#000000">
#set($editBeanMap = ${HELPER_BEAN.getBeanNameMap(${data})})
#foreach($cell in $_layout.editFieldList)
    #if("hidden" != ${cell.type})
        #set($leftCss = "table_print")
        #set($rightCss = "table_print_right")
    <tr>
      <td width="18%" align="right" class="$leftCss">$!{cell.title}</td>
      <td width="82%" align="left" class="$rightCss">#viewInputField(${cell} $editBeanMap)</td>
    </tr>
    #end
#end
#if(${attachpage.data})
    <tr>
      <td width="18%" align="right" class="table_print">附件列表</td>
      <td width="82%" colspan="3">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
    #foreach($data in ${attachpage.data})
        #set($attMap = ${HELPER_BEAN.getBeanNameMap(${data})})
          <tr><td align="left">$!{attMap.get('true_name')}</td></tr>
    #end
        </tbody>
        </table>
      </td>
    </tr>
#end
  </table>
</div>
