$!{cell.prefix}<input id="$!{cell.field}checkbox" type="checkbox" name="$!{cell.field}checkbox" #if(${cell.readonly})readonly#end class='inputobject' $!{cell.custom} #if(${cell.style})style=#singleQuotes()${cell.style}#singleQuotes()#end #if(${cell.onclick})onclick="${cell.onclick}"#end value="#if(!${datamap.get($!{cell.field})})${datamap.get($!{cell.field})}#end"/>$!{cell.suffix}
