#formSingleSelectDictionary(${cell.field} "$!{datamap.get($!{cell.field})}" ${cell.dictionary} " #if(${cell.width})style=#singleQuotes()width:${cell.width};#singleQuotes()#{else}style=#singleQuotes()width:85%#singleQuotes()#end class=inputobject $!{cell.custom} #if(${cell.style})style=#singleQuotes()${cell.style}#singleQuotes()#end " "-- 请选择 --")$!{cell.button}