$!{cell.prefix}#formTextInput($!{cell.field} "#htmlEscape($!{datamap.get($!{cell.field})})" " #if(${cell.width})style=#singleQuotes()width:${cell.width};#singleQuotes()#{else}style=#singleQuotes()width:85%#singleQuotes()#end #if(${cell.readonly})readonly#end class='inputobject' $!{cell.custom} #if(${cell.style})style=#singleQuotes()${cell.style}#singleQuotes()#end#if(${cell.maxlen}) maxlength=${cell.maxlen}#end")$!{cell.button}$!{cell.suffix}
